Repository nextcloud/server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luka-nextcloud, @blizzz, @mejo-, @edward-ly, @Pytal, @kesselb, @SebastianKrupinski, @julien-nc, @juliushaertl, @miaulalala, @st3iny, @come-nc, @icewind1991, @danxuliu, @datenangebot, @skjnldsv, @ArtificialOwl, @artonge, @szaimen, @susnux, @Fenn-CS, @ChristophWurst, @provokateurin, @nickvergessen, @JuliaKirschenheuter, @Altahrim, @Antreesy, @marcelklehr, @mgallien, @CarlSchwan

IONOS(search): set person search to be disableable
  core/src/components/UnifiedSearch/UnifiedSearchModal.vue
Owners: none

IONOS(search): disable person search component
  core/src/components/UnifiedSearch/UnifiedSearchModal.vue
Owners: none

fix: crypto type made not nullable and tests run using ICrypto
  lib/private/Authentication/LoginCredentials/Store.php
  lib/private/Server.php
  tests/lib/Authentication/LoginCredentials/StoreTest.php
Owners: none

fix: crypto made inline for constructor and decrypt error handled in exception
  lib/private/Authentication/LoginCredentials/Store.php
Owners: none

fix: crypto made inline for constructor and decrypt error handled in exception
  lib/private/Authentication/LoginCredentials/Store.php
Owners: none

fix: use Icrypto in place of Cypto
  lib/private/Authentication/LoginCredentials/Store.php
  lib/private/Server.php
Owners: none

fix: encrypt and store password, decrypt and retrieve the same
  lib/private/Authentication/LoginCredentials/Store.php
  lib/private/Server.php
  tests/lib/Authentication/LoginCredentials/StoreTest.php
Owners: none

fix: use Icrypto in place of Cypto
  lib/private/Authentication/LoginCredentials/Store.php
  lib/private/Server.php
Owners: none

fix: crypto made inline for constructor and decrypt error handled in exception
  lib/private/Authentication/LoginCredentials/Store.php
Owners: none

fix: encrypt and store password, decrypt and retrieve the same
  lib/private/Authentication/LoginCredentials/Store.php
  lib/private/Server.php
  tests/lib/Authentication/LoginCredentials/StoreTest.php
Owners: none

fix: crypto made inline for constructor and decrypt error handled in exception
  lib/private/Authentication/LoginCredentials/Store.php
Owners: none

fix: crypto type made not nullable and tests run using ICrypto
  lib/private/Authentication/LoginCredentials/Store.php
  lib/private/Server.php
  tests/lib/Authentication/LoginCredentials/StoreTest.php
Owners: none

fix: crypto made inline for constructor and decrypt error handled in exception
  lib/private/Authentication/LoginCredentials/Store.php
Owners: none

fix: encrypt and store password, decrypt and retrieve the same
  lib/private/Authentication/LoginCredentials/Store.php
  lib/private/Server.php
  tests/lib/Authentication/LoginCredentials/StoreTest.php
Owners: none

fix: crypto type made not nullable and tests run using ICrypto
  lib/private/Authentication/LoginCredentials/Store.php
  lib/private/Server.php
  tests/lib/Authentication/LoginCredentials/StoreTest.php
Owners: none

fix: use Icrypto in place of Cypto
  lib/private/Authentication/LoginCredentials/Store.php
  lib/private/Server.php
Owners: none

fix: crypto made inline for constructor and decrypt error handled in exception
  lib/private/Authentication/LoginCredentials/Store.php
Owners: none

feat: Allow WebP content type in PhotoCache
  apps/dav/lib/CardDAV/PhotoCache.php
Owners: @miaulalala, @st3iny, @SebastianKrupinski

fix: crypto added manually as expected
  tests/lib/Authentication/LoginCredentials/StoreTest.php
Owners: none

fix(app-store): Update update count in navigation
  apps/settings/src/components/AppList.vue
  apps/settings/src/components/AppList/AppItem.vue
  apps/settings/src/mixins/AppManagement.js
  apps/settings/src/views/AppStoreNavigation.vue
Owners: none

fix: crypto added manually as expected
  tests/lib/Authentication/LoginCredentials/StoreTest.php
Owners: none

fix: crypto added manually as expected
  tests/lib/Authentication/LoginCredentials/StoreTest.php
Owners: none

fix(app-store): Update update count in navigation
  apps/settings/src/components/AppList.vue
  apps/settings/src/components/AppList/AppItem.vue
  apps/settings/src/mixins/AppManagement.js
  apps/settings/src/views/AppStoreNavigation.vue
Owners: none

fix: readonly removed
  lib/private/Authentication/LoginCredentials/Store.php
Owners: none

chore(assets): Recompile assets
  dist/8630-8630.js
  dist/8630-8630.js.map
  dist/settings-apps-view-4529.js
  dist/settings-apps-view-4529.js.map
  dist/settings-vue-settings-apps-users-management.js
  dist/settings-vue-settings-apps-users-management.js.map
Owners: none

fix(unified-search): Close on second ctrl+f
  core/src/views/UnifiedSearch.vue
Owners: none

fix: missing crypto added
  lib/private/Authentication/LoginCredentials/Store.php
Owners: none

fix(config): Mark more configs as sensitive
  lib/private/AppConfig.php
  lib/private/SystemConfig.php
Owners: none

chore(assets): Recompile assets
  dist/8737-8737.js
  dist/8737-8737.js.map
  dist/settings-apps-view-4529.js
  dist/settings-apps-view-4529.js.map
  dist/settings-vue-settings-apps-users-management.js
  dist/settings-vue-settings-apps-users-management.js.map
Owners: none

chore(assets): Recompile assets
  dist/core-unified-search.js
  dist/core-unified-search.js.map
Owners: none

fix: Adjust preview for view-only shares
  apps/files_sharing/lib/Controller/PublicPreviewController.php
  apps/files_sharing/lib/ViewOnly.php
  apps/files_sharing/tests/Controller/PublicPreviewControllerTest.php
  core/Controller/PreviewController.php
  tests/Core/Controller/PreviewControllerTest.php
Owners: none

fix(config): Mark more configs as sensitive
  lib/private/AppConfig.php
  lib/private/SystemConfig.php
Owners: none

fix(config): Mark more configs as sensitive
  lib/private/AppConfig.php
  lib/private/SystemConfig.php
Owners: none

fix(config): Mark more configs as sensitive
  lib/private/AppConfig.php
  lib/private/SystemConfig.php
Owners: none

chore(files): migrate davUtils to TS
  apps/files/src/components/TemplatePreview.vue
  apps/files/src/utils/davUtils.js
  apps/files/src/utils/davUtils.ts
Owners: @skjnldsv

refactor(files): migrate to @nextcloud/sharing
  apps/files/src/components/TemplatePreview.vue
  apps/files/src/utils/davUtils.ts
Owners: @skjnldsv

fix(files): handle empty view with error
  apps/files/src/utils/davUtils.ts
  apps/files/src/views/FilesList.vue
Owners: @skjnldsv

chore(assets): Recompile assets
  dist/5606-5606.js
  dist/5606-5606.js.map
  dist/9558-9558.js
  dist/9558-9558.js.LICENSE.txt
  dist/9558-9558.js.map
  dist/comments-comments-app.js
  dist/comments-comments-app.js.map
  dist/core-unified-search.js
  dist/core-unified-search.js.map
  dist/files-init.js
  dist/files-init.js.map
  dist/files-main.js
  dist/files-main.js.map
Owners: none

feat: Allow shared calendars as appointment conflict calendars
  apps/dav/lib/CalDAV/CalendarProvider.php
Owners: @miaulalala, @st3iny, @SebastianKrupinski

fix(files_sharing): federated shares avatar
  apps/files_sharing/src/utils/AccountIcon.spec.ts
  apps/files_sharing/src/utils/AccountIcon.ts
Owners: none

.github/CODEOWNERS:

# App maintainers
/apps/admin_audit/appinfo/info.xml            @luka-nextcloud @blizzz
/apps/cloud_federation_api/appinfo/info.xml   @mejo-
/apps/comments/appinfo/info.xml               @edward-ly @Pytal
/apps/contactsinteraction/appinfo/info.xml    @kesselb @SebastianKrupinski
/apps/contactsinteraction/lib                 @kesselb @SebastianKrupinski
/apps/contactsinteraction/tests               @kesselb @SebastianKrupinski
/apps/dashboard/appinfo/info.xml              @julien-nc @juliushaertl
/apps/dav/lib/CalDAV                          @miaulalala @st3iny @SebastianKrupinski
/apps/dav/lib/CardDAV                         @miaulalala @st3iny @SebastianKrupinski
/apps/dav/tests/unit/CalDAV                   @miaulalala @st3iny @SebastianKrupinski
/apps/dav/tests/unit/CardDAV                  @miaulalala @st3iny @SebastianKrupinski
/apps/encryption/appinfo/info.xml             @come-nc @icewind1991
/apps/federatedfilesharing/appinfo/info.xml   @icewind1991 @danxuliu
/apps/federation/appinfo/info.xml             @datenangebot
/apps/files/appinfo/info.xml                  @skjnldsv @Pytal @ArtificialOwl @come-nc @artonge @icewind1991 @szaimen @susnux @Fenn-CS
/apps/files_external/appinfo/info.xml         @icewind1991 @artonge
/apps/files_reminders/appinfo/info.xml        @Pytal
/apps/files_sharing/appinfo/info.xml          @skjnldsv @come-nc
/apps/files_trashbin/appinfo/info.xml         @Pytal @icewind1991
/apps/files_versions/appinfo/info.xml         @artonge @icewind1991
/apps/oauth2/appinfo/info.xml                 @julien-nc @ChristophWurst
/apps/provisioning_api/appinfo/info.xml       @provokateurin @nickvergessen
/apps/settings/appinfo/info.xml               @Pytal @JuliaKirschenheuter
/apps/sharebymail/appinfo/info.xml            @Altahrim
/apps/systemtags/appinfo/info.xml             @Antreesy @marcelklehr
/apps/theming/appinfo/info.xml                @skjnldsv @juliushaertl
/apps/twofactor_backupcodes/appinfo/info.xml  @st3iny @miaulalala @ChristophWurst
/apps/updatenotification/appinfo/info.xml     @Pytal @JuliaKirschenheuter
/apps/user_ldap/appinfo/info.xml              @come-nc @blizzz
/apps/user_status/appinfo/info.xml            @Antreesy @nickvergessen
/apps/weather_status/appinfo/info.xml         @julien-nc @juliushaertl
/apps/webhook_listeners/appinfo/info.xml      @come-nc @julien-nc
/apps/workflowengine/appinfo/info.xml         @blizzz @juliushaertl

# Frontend expertise
/apps/files/src*                  @skjnldsv
/apps/files_external/src*         @skjnldsv
/apps/files_reminders/src*        @skjnldsv
/apps/files_sharing/src/actions*  @skjnldsv
/apps/files_trashbin/src*         @skjnldsv

# Security team
/build/psalm-baseline-security.xml  @nickvergessen
/resources/codesigning              @mgallien @miaulalala @nickvergessen
/resources/config/ca-bundle.crt     @ChristophWurst @miaulalala @nickvergessen

# Two-Factor Authentication
# https://github.com/nextcloud/wg-two-factor-authentication#members
**/TwoFactorAuth                    @ChristophWurst @miaulalala @nickvergessen @st3iny
/apps/twofactor_backupcodes         @ChristophWurst @miaulalala @nickvergessen @st3iny
/core/templates/twofactor*          @ChristophWurst @miaulalala @nickvergessen @st3iny

# Limit login to IP
# Watch login routes for https://github.com/nextcloud/limit_login_to_ip
/core/routes.php	@Altahrim

# OpenAPI
openapi*.json           @provokateurin
ResponseDefinitions.php @provokateurin

# Talk team
/lib/private/Comments               @nickvergessen
/lib/private/Federation             @nickvergessen
/lib/private/Talk                   @nickvergessen
/lib/public/Comments                @nickvergessen
/lib/public/Federation              @nickvergessen
/lib/public/OCM                     @nickvergessen
/lib/public/Talk                    @nickvergessen
/lib/public/UserStatus              @nickvergessen

# Groupware
/build/integration/dav_features/caldav.feature    @miaulalala @st3iny @SebastianKrupinski
/build/integration/dav_features/carddav.feature   @miaulalala @st3iny @SebastianKrupinski

# Personal interest
*/Activity/*                        @nickvergessen
*/Notifications/*                   @nickvergessen
/lib/private/Profiler               @CarlSchwan
/lib/public/Profiler                @CarlSchwan
