Repository nextcloud/server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nextcloud/server-backend, @nextcloud/server-frontend, @nextcloud/server-dependabot, @luka-nextcloud, @blizzz, @mejo-, @edward-ly, @Pytal, @kesselb, @SebastianKrupinski, @julien-nc, @juliusknorr, @st3iny, @tcitworld, @hamza221, @come-nc, @icewind1991, @danxuliu, @nfebe, @skjnldsv, @ArtificialOwl, @artonge, @szaimen, @susnux, @ChristophWurst, @provokateurin, @nickvergessen, @JuliaKirschenheuter, @Altahrim, @Antreesy, @marcelklehr, @mgallien, @miaulalala, @nextcloud/talk-backend

.github/CODEOWNERS:

# Fallback owners for code review - ensure all PRs have someone assigned for review.
# (the last match will used so this is only used if there is no more specific code owner below)

# Backend
# is the first and gets everything to make things easier from matching syntax
*                                             @nextcloud/server-backend

# Frontend
# this will override the backend code owners if needed
/__mocks__                                    @nextcloud/server-frontend
/__tests__                                    @nextcloud/server-frontend
/cypress                                      @nextcloud/server-frontend
**/js                                         @nextcloud/server-frontend
**/src                                        @nextcloud/server-frontend
*.js                                          @nextcloud/server-frontend
*.ts                                          @nextcloud/server-frontend

# dependency management
package.json                                  @nextcloud/server-dependabot
package-lock.json                             @nextcloud/server-dependabot

# Compiled assets only - no owner set to not spam on automated dependency updates
/dist                                         

# App maintainers
/apps/admin_audit/**            @luka-nextcloud @blizzz
/apps/cloud_federation_api/**   @mejo-
/apps/comments/**               @edward-ly @Pytal
/apps/contactsinteraction/**    @kesselb @SebastianKrupinski
/apps/dashboard/**              @julien-nc @juliusknorr
/apps/dav/**/CalDAV/**          @st3iny @SebastianKrupinski @tcitworld
/apps/dav/**/CardDAV/**         @hamza221 @SebastianKrupinski
/apps/encryption/**             @come-nc @icewind1991
/apps/federatedfilesharing/**   @icewind1991 @danxuliu
/apps/federation/**             @nfebe
/apps/files/**                  @skjnldsv @Pytal @ArtificialOwl @come-nc @artonge @icewind1991 @szaimen @susnux @nfebe
/apps/files_external/**         @icewind1991 @artonge
/apps/files_reminders/**        @Pytal
/apps/files_sharing/**          @skjnldsv @come-nc
/apps/files_trashbin/**         @Pytal @icewind1991
/apps/files_versions/**         @artonge @icewind1991
/apps/oauth2/**                 @julien-nc @ChristophWurst
/apps/provisioning_api/**       @provokateurin @nickvergessen
/apps/settings/**               @Pytal @JuliaKirschenheuter
/apps/sharebymail/**            @Altahrim
/apps/systemtags/**             @Antreesy @marcelklehr
/apps/theming/**                @skjnldsv @juliusknorr
/apps/updatenotification/**     @Pytal @JuliaKirschenheuter
/apps/user_ldap/**              @come-nc @blizzz
/apps/user_status/**            @Antreesy @nickvergessen
/apps/weather_status/**         @julien-nc @juliusknorr
/apps/webhook_listeners/**      @come-nc @julien-nc
/apps/workflowengine/**         @blizzz @juliusknorr

# Frontend expertise
/apps/files/src*                    @skjnldsv @nextcloud/server-frontend
/apps/files_external/src*           @skjnldsv @nextcloud/server-frontend
/apps/files_reminders/src*          @skjnldsv @nextcloud/server-frontend
/apps/files_sharing/src/actions*    @skjnldsv @nextcloud/server-frontend
/apps/files_trashbin/src*           @skjnldsv @nextcloud/server-frontend

# Security team
/build/psalm-baseline-security.xml  @nickvergessen @nextcloud/server-backend
/resources/codesigning              @mgallien @miaulalala @nickvergessen
/resources/config/ca-bundle.crt     @miaulalala @nickvergessen

# Two-Factor Authentication
# https://github.com/nextcloud/wg-two-factor-authentication#members
**/TwoFactorAuth                    @ChristophWurst @miaulalala @nickvergessen @st3iny
/apps/twofactor_backupcodes         @ChristophWurst @miaulalala @nickvergessen @st3iny
/core/templates/twofactor*          @ChristophWurst @miaulalala @nickvergessen @st3iny

# Limit login to IP
# Watch login routes for https://github.com/nextcloud/limit_login_to_ip
/core/routes.php                    @Altahrim @nextcloud/server-backend

# OpenAPI
openapi*.json                       @provokateurin
ResponseDefinitions.php             @provokateurin

# Talk team
/lib/private/Comments               @nickvergessen @nextcloud/talk-backend
/lib/private/Federation             @nickvergessen @nextcloud/talk-backend @nextcloud/server-backend
/lib/private/Talk                   @nickvergessen @nextcloud/talk-backend
/lib/public/Comments                @nickvergessen @nextcloud/talk-backend
/lib/public/Federation              @nickvergessen @nextcloud/talk-backend @nextcloud/server-backend
/lib/public/OCM                     @nickvergessen @nextcloud/talk-backend @nextcloud/server-backend
/lib/public/Talk                    @nickvergessen @nextcloud/talk-backend
/lib/public/UserStatus              @nickvergessen @nextcloud/talk-backend

# Groupware
/build/integration/dav_features/caldav.feature    @st3iny @SebastianKrupinski
/build/integration/dav_features/carddav.feature   @st3iny @SebastianKrupinski

# Personal interest
*/Activity/*                        @nickvergessen @nextcloud/server-backend
*/Notifications/*                   @nickvergessen @nextcloud/talk-backend

refactor(settings): Consolidate group formatting
  apps/settings/src/components/AppNavigationGroupList.vue
  apps/settings/src/components/Users/NewUserDialog.vue
  apps/settings/src/components/Users/UserRow.vue
  apps/settings/src/service/groups.ts
  apps/settings/src/utils/groups.ts
Owners: @Pytal, @JuliaKirschenheuter

feat(provisioning_api): Add endpoint for fetching user subadmin groups with details
  apps/provisioning_api/appinfo/routes.php
  apps/provisioning_api/lib/Controller/UsersController.php
Owners: @provokateurin, @nickvergessen

fix(settings): Allow searching for groups in new account dialog
  apps/settings/src/components/Users/NewUserDialog.vue
Owners: @Pytal, @JuliaKirschenheuter

feat(provisioning_api): Add endpoint for fetching user groups with details
  apps/provisioning_api/appinfo/routes.php
  apps/provisioning_api/lib/Controller/UsersController.php
Owners: @provokateurin, @nickvergessen

chore(settings): Add note on groups sorting
  apps/settings/src/components/Users/UserSettingsDialog.vue
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Prevent selection of invalid groups that are not fully loaded
  apps/settings/src/components/Users/UserRow.vue
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Fix loaded groups being undefined
  apps/settings/src/components/Users/UserRow.vue
  apps/settings/src/service/groups.ts
  apps/settings/src/store/users.js
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Allow searching for groups in user row
  apps/settings/src/components/UserList.vue
  apps/settings/src/components/Users/UserRow.vue
  apps/settings/src/mixins/UserRowMixin.js
  apps/settings/src/store/users.js
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Fix infinitely loading account management page with pagination of groups - Includes searching
  apps/settings/src/components/AppNavigationGroupList.vue
  apps/settings/src/components/GroupListItem.vue
  apps/settings/src/store/users.js
  apps/settings/src/views/UserManagement.vue
  apps/settings/src/views/UserManagementNavigation.vue
  apps/settings/src/views/user-types.d.ts
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Fix erroneous hiding of group admin column with paginated groups
  apps/settings/src/components/Users/NewUserDialog.vue
  apps/settings/src/components/Users/UserListHeader.vue
  apps/settings/src/components/Users/UserRow.vue
  apps/settings/src/store/users.js
Owners: @Pytal, @JuliaKirschenheuter

perf(settings): Make scrolling smooth when a large number of groups are rendered
  apps/settings/src/views/UserManagementNavigation.vue
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Fix editing groups and subadmin groups of user
  apps/settings/src/components/Users/UserRow.vue
  apps/settings/src/service/groups.ts
Owners: @Pytal, @JuliaKirschenheuter

perf(settings): Cancel request on new search
  apps/settings/src/components/AppNavigationGroupList.vue
  apps/settings/src/service/groups.ts
  apps/settings/src/store/users.js
  apps/settings/src/utils/groups.ts
Owners: @Pytal, @JuliaKirschenheuter

perf(settings): Remove computation of all groups
  apps/settings/lib/Controller/UsersController.php
Owners: @Pytal, @JuliaKirschenheuter

test(settings): Wait until groups list has loaded
  cypress/e2e/settings/users_groups.cy.ts
Owners: @nextcloud/server-frontend

fix(settings): Only change usercount if group can be found
  apps/settings/src/store/users.js
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Separate subadmin options
  apps/settings/src/components/Users/UserRow.vue
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Preserve system groups on reset
  apps/settings/src/store/users.js
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Fix duplicated group options when editing account
  apps/settings/src/components/Users/UserRow.vue
Owners: @Pytal, @JuliaKirschenheuter

test(settings): Fix group items not being found
  cypress/e2e/settings/users_groups.cy.ts
Owners: @nextcloud/server-frontend

fix(settings): Natural order groups
  apps/settings/src/components/UserList.vue
  apps/settings/src/store/users.js
  apps/settings/src/utils/sorting.ts
Owners: @Pytal, @JuliaKirschenheuter

test(settings): Correctly find group in select
  cypress/e2e/settings/users_modify.cy.ts
Owners: @nextcloud/server-frontend

fix(settings): Fix group creation when editing users
  apps/settings/src/components/Users/UserRow.vue
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Fix duplicated group options in new account dialog
  apps/settings/src/components/Users/NewUserDialog.vue
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Fix group creation in new account dialog
  apps/settings/src/components/Users/NewUserDialog.vue
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Fix initialization of store
  apps/settings/src/store/users.js
Owners: @Pytal, @JuliaKirschenheuter

fix(notifications): Change notification app orders
  build/psalm-baseline.xml
  lib/private/Notification/Manager.php
Owners: @nextcloud/server-backend

fix(fonts): improve the chosen font family (especially for Windows)
  apps/theming/css/default.css
  apps/theming/lib/Themes/DefaultTheme.php
  core/css/guest.scss
  core/css/variables.scss
Owners: @skjnldsv, @juliusknorr, @nextcloud/server-backend

fix: Transfer ownership with S3 as primary
  lib/private/Files/ObjectStore/ObjectStoreStorage.php
  tests/lib/Files/Storage/StoragesTest.php
Owners: @nextcloud/server-backend

feat(occ): Emit events for command execution
  lib/composer/composer/autoload_classmap.php
  lib/composer/composer/autoload_static.php
  lib/private/Console/Application.php
  lib/public/Command/Events/BeforeCommandExecutedEvent.php
  lib/public/Command/Events/CommandExecutedEvent.php
  lib/public/Command/Events/CommandFailedEvent.php
Owners: @nextcloud/server-backend

fix(files_reminders): Lower disabled notifications app error to info
  apps/files_reminders/lib/Listener/LoadAdditionalScriptsListener.php
Owners: @Pytal

feat: Support OC-Checksum in bulk upload
  apps/dav/lib/BulkUpload/MultipartRequestParser.php
  apps/dav/tests/unit/Files/MultipartRequestParserTest.php
Owners: @nextcloud/server-backend

chore: Backport fixes
  apps/provisioning_api/openapi-full.json
  apps/provisioning_api/openapi.json
  apps/settings/lib/Controller/UsersController.php
  apps/settings/src/components/Users/NewUserDialog.vue
  apps/settings/src/mixins/UserRowMixin.js
  apps/settings/src/views/UserManagementNavigation.vue
  dist/settings-apps-view-4529.js
  dist/settings-apps-view-4529.js.map
  dist/settings-users-3239.js
  dist/settings-users-3239.js.map
  dist/settings-vue-settings-apps-users-management.js
  dist/settings-vue-settings-apps-users-management.js.map
Owners: @provokateurin, @Pytal, @JuliaKirschenheuter

fix(users): Improve error handling of some fields update
  apps/settings/src/components/Users/UserRow.vue
  apps/settings/src/store/users.js
Owners: @Pytal, @JuliaKirschenheuter

chore: compile assets
  dist/settings-users-3239.js
  dist/settings-users-3239.js.map
  dist/settings-vue-settings-apps-users-management.js
  dist/settings-vue-settings-apps-users-management.js.map
Owners: none

fix(files_reminder): Replace error log by setup check
  apps/files_reminders/lib/AppInfo/Application.php
  apps/files_reminders/lib/Listener/LoadAdditionalScriptsListener.php
  apps/files_reminders/lib/SetupChecks/NeedNotificationsApp.php
Owners: @Pytal

chore(legacy): Remove deprecated OC_Util::addScript and functions depending on it
  lib/private/Template/functions.php
  lib/private/TemplateLayout.php
  lib/private/legacy/OC_Util.php
  tests/lib/UtilTest.php
Owners: @nextcloud/server-backend

IONOS(config): change submodule repo (nc-ionos-processes)
  .gitmodules
Owners: @nextcloud/server-backend

Revert "IONOS(config): change submodule repo (nc-ionos-processes)"
  .gitmodules
Owners: @nextcloud/server-backend

IONOS(config): change submodule repo (nc-ionos-processes)
  .gitmodules
Owners: @nextcloud/server-backend
