Repository nextcloud/server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nextcloud/server-backend, @nextcloud/server-frontend, @nextcloud/server-dependabot, @luka-nextcloud, @blizzz, @mejo-, @edward-ly, @Pytal, @kesselb, @SebastianKrupinski, @julien-nc, @juliusknorr, @st3iny, @tcitworld, @hamza221, @come-nc, @icewind1991, @danxuliu, @nfebe, @skjnldsv, @ArtificialOwl, @artonge, @szaimen, @susnux, @ChristophWurst, @provokateurin, @nickvergessen, @JuliaKirschenheuter, @Altahrim, @Antreesy, @marcelklehr, @mgallien, @miaulalala, @nextcloud/talk-backend

Fix(l10n): Update translations from Transifex
  apps/federatedfilesharing/l10n/it.js
  apps/federatedfilesharing/l10n/it.json
  apps/files_sharing/l10n/ar.js
  apps/files_sharing/l10n/ar.json
  apps/files_sharing/l10n/it.js
  apps/files_sharing/l10n/it.json
  apps/settings/l10n/ar.js
  apps/settings/l10n/ar.json
Owners: @icewind1991, @danxuliu, @skjnldsv, @come-nc, @Pytal, @JuliaKirschenheuter

Fix(l10n): Update translations from Transifex
  apps/federatedfilesharing/l10n/it.js
  apps/federatedfilesharing/l10n/it.json
  apps/files_sharing/l10n/ar.js
  apps/files_sharing/l10n/ar.json
  apps/files_sharing/l10n/it.js
  apps/files_sharing/l10n/it.json
  apps/settings/l10n/ar.js
  apps/settings/l10n/ar.json
Owners: @icewind1991, @danxuliu, @skjnldsv, @come-nc, @Pytal, @JuliaKirschenheuter

Fix(l10n): Update translations from Transifex
  apps/federatedfilesharing/l10n/it.js
  apps/federatedfilesharing/l10n/it.json
  apps/files_sharing/l10n/ar.js
  apps/files_sharing/l10n/ar.json
  apps/files_sharing/l10n/it.js
  apps/files_sharing/l10n/it.json
  apps/settings/l10n/ar.js
  apps/settings/l10n/ar.json
Owners: @icewind1991, @danxuliu, @skjnldsv, @come-nc, @Pytal, @JuliaKirschenheuter

Fix(l10n): Update translations from Transifex
  apps/federatedfilesharing/l10n/it.js
  apps/federatedfilesharing/l10n/it.json
  apps/files_sharing/l10n/ar.js
  apps/files_sharing/l10n/ar.json
  apps/files_sharing/l10n/it.js
  apps/files_sharing/l10n/it.json
  apps/settings/l10n/ar.js
  apps/settings/l10n/ar.json
Owners: @icewind1991, @danxuliu, @skjnldsv, @come-nc, @Pytal, @JuliaKirschenheuter

fix(phpunit): Remove some more withConsecutive calls
  tests/Core/Command/Encryption/EnableTest.php
  tests/Core/Command/Log/ManageTest.php
  tests/Core/Command/User/AuthTokens/DeleteTest.php
  tests/Core/Controller/NavigationControllerTest.php
  tests/lib/AppFramework/Http/RequestIdTest.php
  tests/lib/AppFramework/Http/RequestTest.php
  tests/lib/Template/JSCombinerTest.php
  tests/lib/User/ManagerTest.php
Owners: @nextcloud/server-backend

fix(dav): Give proper HTTP status code on MKCOL when quota exceeded
  apps/dav/lib/Connector/Sabre/QuotaPlugin.php
Owners: @nextcloud/server-backend

chore: Refactor callForSeenUsers to use getSeenUsers
  lib/private/User/Manager.php
Owners: @nextcloud/server-backend

feat: Implement getSeenUsers to iterate over users
  lib/private/User/Manager.php
  lib/public/IUserManager.php
Owners: @nextcloud/server-backend

feat: Limit trash expire job to 30 minutes
  apps/files_trashbin/lib/BackgroundJob/ExpireTrash.php
  apps/files_trashbin/tests/BackgroundJob/ExpireTrashTest.php
Owners: @Pytal, @icewind1991

chore: Refactor callForSeenUsers to use getSeenUsers
  lib/private/User/Manager.php
Owners: @nextcloud/server-backend

feat: Implement getSeenUsers to iterate over users
  lib/private/User/Manager.php
  lib/public/IUserManager.php
Owners: @nextcloud/server-backend

chore: Refactor callForSeenUsers to use getSeenUsers
  lib/private/User/Manager.php
Owners: @nextcloud/server-backend

feat: Implement getSeenUsers to iterate over users
  lib/private/User/Manager.php
Owners: @nextcloud/server-backend

feat: Limit trash expire job to 30 minutes
  apps/files_trashbin/lib/BackgroundJob/ExpireTrash.php
  apps/files_trashbin/tests/BackgroundJob/ExpireTrashTest.php
Owners: @Pytal, @icewind1991

perf(cron): Delay (re)checking timed jobs
  lib/private/BackgroundJob/JobList.php
  lib/public/BackgroundJob/TimedJob.php
  tests/lib/BackgroundJob/JobListTest.php
  tests/lib/BackgroundJob/TestTimedJobNew.php
  tests/lib/BackgroundJob/TimedJobTest.php
Owners: @nextcloud/server-backend

fix(dav): Give proper HTTP status code on MKCOL when quota exceeded
  apps/dav/lib/Connector/Sabre/QuotaPlugin.php
Owners: @nextcloud/server-backend

fix(dav): Give proper HTTP status code on MKCOL when quota exceeded
  apps/dav/lib/Connector/Sabre/QuotaPlugin.php
Owners: @nextcloud/server-backend

fix(dav): Give proper HTTP status code on MKCOL when quota exceeded
  apps/dav/lib/Connector/Sabre/QuotaPlugin.php
Owners: @nextcloud/server-backend

fix(template): implement ITemplate directly
  lib/public/Template.php
Owners: @nextcloud/server-backend

feat: add command to get object metadata
  apps/files/appinfo/info.xml
  apps/files/composer/composer/autoload_classmap.php
  apps/files/composer/composer/autoload_static.php
  apps/files/lib/Command/Object/Info.php
  lib/composer/composer/autoload_classmap.php
  lib/composer/composer/autoload_static.php
  lib/private/Files/ObjectStore/S3.php
  lib/public/Files/ObjectStore/IObjectStoreMetaData.php
Owners: @skjnldsv, @Pytal, @ArtificialOwl, @come-nc, @artonge, @icewind1991, @szaimen, @susnux, @nfebe, @nextcloud/server-backend

feat: add command to list objects
  apps/files/appinfo/info.xml
  apps/files/composer/composer/autoload_classmap.php
  apps/files/composer/composer/autoload_static.php
  apps/files/lib/Command/Object/ListObject.php
  lib/private/Files/ObjectStore/S3.php
  lib/public/Files/ObjectStore/IObjectStoreMetaData.php
Owners: @skjnldsv, @Pytal, @ArtificialOwl, @come-nc, @artonge, @icewind1991, @szaimen, @susnux, @nfebe, @nextcloud/server-backend

feat: rework object listing
  apps/files/lib/Command/Object/Info.php
  apps/files/lib/Command/Object/ObjectUtil.php
  apps/files/lib/Command/Object/Orphans.php
Owners: @skjnldsv, @Pytal, @ArtificialOwl, @come-nc, @artonge, @icewind1991, @szaimen, @susnux, @nfebe

feat: add command to list orphan objects
  apps/files/appinfo/info.xml
  apps/files/composer/composer/autoload_classmap.php
  apps/files/composer/composer/autoload_static.php
  apps/files/lib/Command/Object/ObjectUtil.php
  apps/files/lib/Command/Object/Orphans.php
Owners: @skjnldsv, @Pytal, @ArtificialOwl, @come-nc, @artonge, @icewind1991, @szaimen, @susnux, @nfebe

feat: move streaming output helps to command base class
  apps/files/lib/Command/Object/ListObject.php
  apps/files/lib/Command/Object/ObjectUtil.php
  apps/files/lib/Command/Object/Orphans.php
  core/Command/Base.php
Owners: @skjnldsv, @Pytal, @ArtificialOwl, @come-nc, @artonge, @icewind1991, @szaimen, @susnux, @nfebe, @nextcloud/server-backend

feat: Limit trash expire job to 30 minutes
  apps/files_trashbin/lib/BackgroundJob/ExpireTrash.php
  apps/files_trashbin/tests/BackgroundJob/ExpireTrashTest.php
Owners: @Pytal, @icewind1991

feat: more generic way of passing metadata to object storage backends for new objects
  lib/private/Files/ObjectStore/ObjectStoreStorage.php
  lib/private/Files/ObjectStore/S3ObjectTrait.php
  lib/public/Files/ObjectStore/IObjectStoreMetaData.php
Owners: @nextcloud/server-backend

fix(QuotaPlugin): Change InsufficientStorage exception message for directories
  apps/dav/lib/Connector/Sabre/QuotaPlugin.php
Owners: @nextcloud/server-backend

feat: store original storage id and path in object store metadata
  lib/private/Files/ObjectStore/ObjectStoreStorage.php
  lib/private/Files/ObjectStore/S3.php
  lib/private/Files/ObjectStore/S3ObjectTrait.php
  lib/public/Files/ObjectStore/IObjectStoreMetaData.php
Owners: @nextcloud/server-backend

feat: show permissions in info:file output
  core/Command/Info/File.php
Owners: @nextcloud/server-backend

fix: Correctly count disabled users for SAML groups subadmins
  apps/settings/lib/Controller/UsersController.php
  lib/private/User/Manager.php
Owners: @Pytal, @JuliaKirschenheuter, @nextcloud/server-backend

chore: Remove now unused methods from User manager
  lib/private/User/Manager.php
Owners: @nextcloud/server-backend

chore: Move magic number into a documented const
  apps/settings/lib/Controller/UsersController.php
Owners: @Pytal, @JuliaKirschenheuter

fix: Correctly count disabled users for SAML groups subadmins
  apps/settings/lib/Controller/UsersController.php
  lib/private/User/Manager.php
Owners: @Pytal, @JuliaKirschenheuter, @nextcloud/server-backend

chore: Remove now unused methods from User manager
  lib/private/User/Manager.php
Owners: @nextcloud/server-backend

chore: Move magic number into a documented const
  apps/settings/lib/Controller/UsersController.php
Owners: @Pytal, @JuliaKirschenheuter

fix: skip transfering shares that we can't find
  apps/files/lib/Service/OwnershipTransferService.php
Owners: @skjnldsv, @Pytal, @ArtificialOwl, @come-nc, @artonge, @icewind1991, @szaimen, @susnux, @nfebe

fix(files_sharing): ensure share status action works also in grid view
  apps/files/src/components/FileEntry/FileEntryActions.vue
  apps/files_sharing/src/actions/sharingStatusAction.scss
  cypress/e2e/files/FilesUtils.ts
  cypress/e2e/files_sharing/share-status-action.cy.ts
Owners: @skjnldsv, @nextcloud/server-frontend

chore(i18n): Aligned grammar
  apps/settings/src/components/Users/UserRow.vue
Owners: @Pytal, @JuliaKirschenheuter

chore(i18n): Aligned grammar
  apps/settings/lib/Middleware/SubadminMiddleware.php
Owners: @Pytal, @JuliaKirschenheuter

chore(assets): Recompile assets
  dist/settings-users-3239.js
  dist/settings-users-3239.js.map
  dist/settings-vue-settings-apps-users-management.js
  dist/settings-vue-settings-apps-users-management.js.map
Owners: none

.github/CODEOWNERS:

# Fallback owners for code review - ensure all PRs have someone assigned for review.
# (the last match will used so this is only used if there is no more specific code owner below)

# Backend
# is the first and gets everything to make things easier from matching syntax
*                                             @nextcloud/server-backend

# Frontend
# this will override the backend code owners if needed
/__mocks__                                    @nextcloud/server-frontend
/__tests__                                    @nextcloud/server-frontend
/cypress                                      @nextcloud/server-frontend
**/js                                         @nextcloud/server-frontend
**/src                                        @nextcloud/server-frontend
*.js                                          @nextcloud/server-frontend
*.ts                                          @nextcloud/server-frontend

# dependency management
package.json                                  @nextcloud/server-dependabot
package-lock.json                             @nextcloud/server-dependabot

# Compiled assets only - no owner set to not spam on automated dependency updates
/dist                                         

# App maintainers
/apps/admin_audit/**            @luka-nextcloud @blizzz
/apps/cloud_federation_api/**   @mejo-
/apps/comments/**               @edward-ly @Pytal
/apps/contactsinteraction/**    @kesselb @SebastianKrupinski
/apps/dashboard/**              @julien-nc @juliusknorr
/apps/dav/**/CalDAV/**          @st3iny @SebastianKrupinski @tcitworld
/apps/dav/**/CardDAV/**         @hamza221 @SebastianKrupinski
/apps/encryption/**             @come-nc @icewind1991
/apps/federatedfilesharing/**   @icewind1991 @danxuliu
/apps/federation/**             @nfebe
/apps/files/**                  @skjnldsv @Pytal @ArtificialOwl @come-nc @artonge @icewind1991 @szaimen @susnux @nfebe
/apps/files_external/**         @icewind1991 @artonge
/apps/files_reminders/**        @Pytal
/apps/files_sharing/**          @skjnldsv @come-nc
/apps/files_trashbin/**         @Pytal @icewind1991
/apps/files_versions/**         @artonge @icewind1991
/apps/oauth2/**                 @julien-nc @ChristophWurst
/apps/provisioning_api/**       @provokateurin @nickvergessen
/apps/settings/**               @Pytal @JuliaKirschenheuter
/apps/sharebymail/**            @Altahrim
/apps/systemtags/**             @Antreesy @marcelklehr
/apps/theming/**                @skjnldsv @juliusknorr
/apps/updatenotification/**     @Pytal @JuliaKirschenheuter
/apps/user_ldap/**              @come-nc @blizzz
/apps/user_status/**            @Antreesy @nickvergessen
/apps/weather_status/**         @julien-nc @juliusknorr
/apps/webhook_listeners/**      @come-nc @julien-nc
/apps/workflowengine/**         @blizzz @juliusknorr

# Frontend expertise
/apps/files/src*                    @skjnldsv @nextcloud/server-frontend
/apps/files_external/src*           @skjnldsv @nextcloud/server-frontend
/apps/files_reminders/src*          @skjnldsv @nextcloud/server-frontend
/apps/files_sharing/src/actions*    @skjnldsv @nextcloud/server-frontend
/apps/files_trashbin/src*           @skjnldsv @nextcloud/server-frontend

# Security team
/build/psalm-baseline-security.xml  @nickvergessen @nextcloud/server-backend
/resources/codesigning              @mgallien @miaulalala @nickvergessen
/resources/config/ca-bundle.crt     @miaulalala @nickvergessen

# Two-Factor Authentication
# https://github.com/nextcloud/wg-two-factor-authentication#members
**/TwoFactorAuth                    @ChristophWurst @miaulalala @nickvergessen @st3iny
/apps/twofactor_backupcodes         @ChristophWurst @miaulalala @nickvergessen @st3iny
/core/templates/twofactor*          @ChristophWurst @miaulalala @nickvergessen @st3iny

# Limit login to IP
# Watch login routes for https://github.com/nextcloud/limit_login_to_ip
/core/routes.php                    @Altahrim @nextcloud/server-backend

# OpenAPI
openapi*.json                       @provokateurin
ResponseDefinitions.php             @provokateurin

# Talk team
/lib/private/Comments               @nickvergessen @nextcloud/talk-backend
/lib/private/Federation             @nickvergessen @nextcloud/talk-backend @nextcloud/server-backend
/lib/private/Talk                   @nickvergessen @nextcloud/talk-backend
/lib/public/Comments                @nickvergessen @nextcloud/talk-backend
/lib/public/Federation              @nickvergessen @nextcloud/talk-backend @nextcloud/server-backend
/lib/public/OCM                     @nickvergessen @nextcloud/talk-backend @nextcloud/server-backend
/lib/public/Talk                    @nickvergessen @nextcloud/talk-backend
/lib/public/UserStatus              @nickvergessen @nextcloud/talk-backend

# Groupware
/build/integration/dav_features/caldav.feature    @st3iny @SebastianKrupinski
/build/integration/dav_features/carddav.feature   @st3iny @SebastianKrupinski

# Personal interest
*/Activity/*                        @nickvergessen @nextcloud/server-backend
*/Notifications/*                   @nickvergessen @nextcloud/talk-backend
