Repository nextcloud/server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luka-nextcloud, @blizzz, @mejo-, @marcelklehr, @Pytal, @kesselb, @miaulalala, @ChristophWurst, @GretaD, @hamza221, @st3iny, @julien-nc, @juliushaertl, @tcitworld, @come-nc, @icewind1991, @danxuliu, @datenangebot, @skjnldsv, @ArtificialOwl, @artonge, @szaimen, @susnux, @Fenn-CS, @provokateurin, @nickvergessen, @JuliaKirschenheuter, @Altahrim, @Antreesy, @mgallien, @CarlSchwan

fix(settings): Adjust order of parameters for `runRequest`
  apps/settings/lib/SetupChecks/CheckServerResponseTrait.php
  apps/settings/lib/SetupChecks/WellKnownUrls.php
Owners: none

Revert "files_versions: add missing null check"
  apps/files_versions/lib/Listener/FileEventsListener.php
Owners: none

fix: Use proper path when trying to check if a file needs to get copied
  apps/dav/lib/Upload/ChunkingV2Plugin.php
Owners: none

fix: Add edge as supported user agent for CSPv3 nonces
  lib/private/Security/CSP/ContentSecurityPolicyNonceManager.php
Owners: none

fix: Allow nonce in csp header also if no other reasons are given
  lib/public/AppFramework/Http/EmptyContentSecurityPolicy.php
Owners: none

fix: Adjust user agent pattern for Edge
  lib/private/AppFramework/Http/Request.php
Owners: none

fix(files_reminders): Fix translations
  apps/files_reminders/src/actions/clearReminderAction.ts
  apps/files_reminders/src/actions/setReminderCustomAction.ts
  apps/files_reminders/src/actions/setReminderMenuAction.ts
Owners: @skjnldsv

chore(files_reminders): Register dav plugin directly
  apps/files_reminders/appinfo/info.xml
  apps/files_reminders/composer/composer/autoload_classmap.php
  apps/files_reminders/composer/composer/autoload_static.php
  apps/files_reminders/lib/AppInfo/Application.php
  apps/files_reminders/lib/Listener/SabrePluginAddListener.php
Owners: @Pytal

fix(files): Close submenu actions after click like top-level actions
  apps/files/src/components/FileEntry/FileEntryActions.vue
Owners: @skjnldsv

fix(files_reminders): Add year to date string if not in the same year
  apps/files_reminders/src/shared/utils.ts
Owners: @skjnldsv

feat(files_reminders): Add reminder status indicator
  apps/files_reminders/src/actions/reminderStatusAction.ts
  apps/files_reminders/src/components/SetCustomReminderModal.vue
  apps/files_reminders/src/init.ts
  apps/files_reminders/src/services/customPicker.ts
Owners: @skjnldsv

chore(files_reminders): Drop moment in favour of native js Date API
  apps/files_reminders/src/shared/utils.ts
Owners: @skjnldsv

chore: compile assets
  dist/files-main.js
  dist/files-main.js.map
  dist/files_reminders-init.js
  dist/files_reminders-init.js.map
Owners: none

fix(appconfig): no insert statement if data already exist
  lib/private/AppConfig.php
Owners: none

test: improve notify tests for smb
  apps/files_external/tests/Storage/SmbTest.php
Owners: none

fix: add some recrusive detection/prevention
  apps/files_sharing/lib/SharedStorage.php
  lib/private/Files/Storage/Wrapper/Wrapper.php
Owners: none

fix(UpdateNotifications): Handle numeric user ids
  apps/updatenotification/lib/BackgroundJob/UpdateAvailableNotifications.php
Owners: none

fix(2fa): Handle twofactor_enforced configuration parameter as boolean
  lib/private/Authentication/TwoFactorAuth/MandatoryTwoFactor.php
  tests/lib/Authentication/TwoFactorAuth/MandatoryTwoFactorTest.php
Owners: @ChristophWurst, @miaulalala, @nickvergessen, @st3iny

feat(files): copy live photos
  apps/files/lib/AppInfo/Application.php
  apps/files/lib/Listener/SyncLivePhotosListener.php
  lib/composer/composer/autoload_classmap.php
  lib/composer/composer/autoload_static.php
  lib/private/Files/Node/HookConnector.php
  lib/private/Server.php
  lib/public/Exceptions/AbortedEventException.php
  lib/public/Files/Events/Node/AbstractNodeEvent.php
  lib/public/Files/Events/Node/AbstractNodesEvent.php
  lib/public/Files/Events/Node/BeforeNodeDeletedEvent.php
  tests/lib/Files/Node/HookConnectorTest.php
Owners: none

fix(settings): users settings cypress
  apps/settings/src/views/Users.vue
  cypress/e2e/settings/users_groups.cy.ts
  dist/settings-users-8351.js
  dist/settings-users-8351.js.map
  dist/settings-vue-settings-apps-users-management.js
  dist/settings-vue-settings-apps-users-management.js.map
Owners: none

Refactors files_trashbin app commands.
  apps/files_trashbin/lib/Command/CleanUp.php
  apps/files_trashbin/lib/Command/Expire.php
  apps/files_trashbin/lib/Command/ExpireTrash.php
  apps/files_trashbin/lib/Command/RestoreAllFiles.php
  apps/files_trashbin/lib/Command/Size.php
Owners: none

Uses early returns.
  apps/files_trashbin/lib/Command/CleanUp.php
  apps/files_trashbin/lib/Command/ExpireTrash.php
  apps/files_trashbin/lib/Command/RestoreAllFiles.php
  apps/files_trashbin/lib/Command/Size.php
Owners: none

fix(files_versions): Improve files version listing
  apps/files_versions/lib/Command/CleanUp.php
  apps/files_versions/lib/Db/VersionsMapper.php
  apps/files_versions/tests/Command/CleanupTest.php
Owners: none

[stable28] fix(UpdateNotifications): Handle numeric user ids
  apps/updatenotification/lib/Notification/BackgroundJob.php
Owners: none

Update AppItem.vue
  apps/settings/src/components/AppList/AppItem.vue
Owners: none

chore: update workflows from templates
  .github/workflows/block-merge-freeze.yml
  .github/workflows/cypress.yml
  .github/workflows/lint-eslint.yml
  .github/workflows/lint-php-cs.yml
  .github/workflows/lint-php.yml
Owners: none

chore: update workflows from templates
  apps/viewer/.github/workflows/cypress.yml
  apps/viewer/.github/workflows/lint-eslint.yml
  apps/viewer/.github/workflows/lint-php-cs.yml
  apps/viewer/.github/workflows/lint-php.yml
  apps/viewer/.github/workflows/node.yml
  apps/viewer/.github/workflows/npm-audit-fix.yml
  apps/viewer/.github/workflows/psalm.yml
Owners: none

[stable28] fix(UpdateNotifications): Handle numeric user ids
  apps/updatenotification/lib/Notification/BackgroundJob.php
Owners: none

Fix(l10n): Update translations from Transifex
  apps/viewer/l10n/pt_BR.js
  apps/viewer/l10n/pt_BR.json
Owners: none

Discard changes to .github/workflows/cypress.yml
  apps/viewer/.github/workflows/cypress.yml
Owners: none

chore:(renovate): update automerge and monitored branches
  apps/viewer/renovate.json
Owners: none

chore(renovate): add `3. to review` to default labels
  apps/viewer/renovate.json
Owners: none

(fix) Generating previews for animated WEBP images was failing
  lib/private/legacy/OC_Image.php
Owners: none

Typo fix (squash before merge)
  lib/private/legacy/OC_Image.php
Owners: none

fix(cypress): update cypress config for new visual regression plugin update
  apps/viewer/cypress.config.ts
  apps/viewer/cypress/support/commands.ts
  apps/viewer/package.json
Owners: none

fix: regression with updating read-only config
  lib/private/Config.php
Owners: none

fix: merge conflict dialog added when overwriting files on move-file action
  apps/files/src/actions/moveOrCopyAction.ts
Owners: @skjnldsv

feat: files update correctly on destination/current folder
  apps/files/src/actions/moveOrCopyAction.ts
Owners: @skjnldsv

fix: conflict picker moves files correctly to its directory
  apps/files/src/actions/moveOrCopyAction.ts
Owners: @skjnldsv

chore: compile assets
  dist/comments-comments-app.js
  dist/comments-comments-app.js.map
  dist/comments-comments-tab.js
  dist/comments-comments-tab.js.map
  dist/files-init.js
  dist/files-init.js.map
  dist/files-main.js
  dist/files-main.js.map
  dist/systemtags-init.js
  dist/systemtags-init.js.map
Owners: none

.github/CODEOWNERS:

# App maintainers
/apps/admin_audit/appinfo/info.xml            @luka-nextcloud @blizzz
/apps/cloud_federation_api/appinfo/info.xml   @mejo-
/apps/comments/appinfo/info.xml               @marcelklehr @Pytal
/apps/contactsinteraction/appinfo/info.xml    @kesselb @miaulalala @ChristophWurst @GretaD @hamza221 @st3iny
/apps/dashboard/appinfo/info.xml              @julien-nc @juliushaertl
/apps/dav/lib/CalDAV                          @ChristophWurst @miaulalala @tcitworld
/apps/dav/lib/CardDAV                         @ChristophWurst @miaulalala @tcitworld
/apps/encryption/appinfo/info.xml             @come-nc @icewind1991
/apps/federatedfilesharing/appinfo/info.xml   @icewind1991 @danxuliu
/apps/federation/appinfo/info.xml             @datenangebot
/apps/files/appinfo/info.xml                  @skjnldsv @Pytal @ArtificialOwl @come-nc @artonge @icewind1991 @szaimen @susnux @Fenn-CS
/apps/files_external/appinfo/info.xml         @icewind1991 @artonge
/apps/files_reminders/appinfo/info.xml        @Pytal
/apps/files_sharing/appinfo/info.xml          @skjnldsv @come-nc
/apps/files_trashbin/appinfo/info.xml         @Pytal @icewind1991
/apps/files_versions/appinfo/info.xml         @artonge @icewind1991
/apps/oauth2/appinfo/info.xml                 @julien-nc @ChristophWurst
/apps/provisioning_api/appinfo/info.xml       @provokateurin @nickvergessen
/apps/settings/appinfo/info.xml               @Pytal @JuliaKirschenheuter
/apps/sharebymail/appinfo/info.xml            @Altahrim
/apps/systemtags/appinfo/info.xml             @Antreesy @marcelklehr
/apps/theming/appinfo/info.xml                @skjnldsv @juliushaertl
/apps/twofactor_backupcodes/appinfo/info.xml  @st3iny @miaulalala @ChristophWurst
/apps/updatenotification/appinfo/info.xml     @Pytal @JuliaKirschenheuter
/apps/user_ldap/appinfo/info.xml              @come-nc @blizzz
/apps/user_status/appinfo/info.xml            @Antreesy @nickvergessen
/apps/weather_status/appinfo/info.xml         @julien-nc @juliushaertl
/apps/workflowengine/appinfo/info.xml         @blizzz @juliushaertl

# Frontend expertise
/apps/files/src*                  @skjnldsv
/apps/files_external/src*         @skjnldsv
/apps/files_reminders/src*        @skjnldsv
/apps/files_sharing/src/actions*  @skjnldsv
/apps/files_trashbin/src*         @skjnldsv

# Security team
/resources/codesigning              @mgallien @miaulalala @nickvergessen
/resources/config/ca-bundle.crt     @ChristophWurst @miaulalala @nickvergessen
/.drone.yml                         @nickvergessen

# Two-Factor Authentication
# https://github.com/nextcloud/wg-two-factor-authentication#members
**/TwoFactorAuth                    @ChristophWurst @miaulalala @nickvergessen @st3iny
/apps/twofactor_backupcodes         @ChristophWurst @miaulalala @nickvergessen @st3iny
/core/templates/twofactor*          @ChristophWurst @miaulalala @nickvergessen @st3iny

# Limit login to IP
# Watch login routes for https://github.com/nextcloud/limit_login_to_ip
/core/routes.php	@Altahrim

# OpenAPI
openapi*.json           @provokateurin
ResponseDefinitions.php @provokateurin

# Talk team
/lib/private/Comments               @nickvergessen
/lib/private/Federation             @nickvergessen
/lib/private/Talk                   @nickvergessen
/lib/public/Comments                @nickvergessen
/lib/public/Federation              @nickvergessen
/lib/public/OCM                     @nickvergessen
/lib/public/Talk                    @nickvergessen
/lib/public/UserStatus              @nickvergessen

# Personal interest
*/Activity/*                        @nickvergessen
*/Notifications/*                   @nickvergessen
/lib/private/Profiler               @CarlSchwan
/lib/public/Profiler                @CarlSchwan
