Repository nextcloud/server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nextcloud/server-backend, @nextcloud/server-frontend, @nextcloud/server-dependabot, @luka-nextcloud, @blizzz, @mejo-, @edward-ly, @Pytal, @kesselb, @SebastianKrupinski, @julien-nc, @juliusknorr, @st3iny, @tcitworld, @hamza221, @come-nc, @icewind1991, @danxuliu, @nfebe, @skjnldsv, @ArtificialOwl, @artonge, @szaimen, @susnux, @ChristophWurst, @provokateurin, @nickvergessen, @JuliaKirschenheuter, @Altahrim, @Antreesy, @marcelklehr, @mgallien, @miaulalala, @nextcloud/talk-backend

feat: Limit trash expire job to 30 minutes
  apps/files_trashbin/lib/BackgroundJob/ExpireTrash.php
  apps/files_trashbin/tests/BackgroundJob/ExpireTrashTest.php
Owners: @Pytal, @icewind1991

feat: Implement getSeenUsers to iterate over users
  lib/private/User/Manager.php
  lib/public/IUserManager.php
Owners: @nextcloud/server-backend

chore: Refactor callForSeenUsers to use getSeenUsers
  lib/private/User/Manager.php
Owners: @nextcloud/server-backend

perf(cron): Delay (re)checking timed jobs
  lib/private/BackgroundJob/JobList.php
  lib/public/BackgroundJob/TimedJob.php
  tests/lib/BackgroundJob/JobListTest.php
  tests/lib/BackgroundJob/TestTimedJobNew.php
  tests/lib/BackgroundJob/TimedJobTest.php
Owners: @nextcloud/server-backend

fix: Access node owner by top level `owner` property
  apps/files/src/components/FileEntry/FileEntryActions.vue
  apps/files/src/newMenu/newFolder.ts
  apps/files_sharing/src/actions/sharingStatusAction.ts
  apps/files_sharing/src/init.ts
Owners: @skjnldsv, @nextcloud/server-frontend, @come-nc

feat(dav): add webhook compatibility for calendar object events
  apps/dav/lib/CalDAV/CalDavBackend.php
  lib/composer/composer/autoload_classmap.php
  lib/composer/composer/autoload_static.php
  lib/public/Calendar/Events/AbstractCalendarObjectEvent.php
  lib/public/Calendar/Events/CalendarObjectCreatedEvent.php
  lib/public/Calendar/Events/CalendarObjectDeletedEvent.php
  lib/public/Calendar/Events/CalendarObjectMovedEvent.php
  lib/public/Calendar/Events/CalendarObjectMovedToTrashEvent.php
  lib/public/Calendar/Events/CalendarObjectRestoredEvent.php
  lib/public/Calendar/Events/CalendarObjectUpdatedEvent.php
Owners: @st3iny, @SebastianKrupinski, @tcitworld, @nextcloud/server-backend

feat(dav)!: migrate OCA calendar object events to OCP
  apps/dav/composer/composer/autoload_classmap.php
  apps/dav/composer/composer/autoload_static.php
  apps/dav/lib/AppInfo/Application.php
  apps/dav/lib/CalDAV/CalDavBackend.php
  apps/dav/lib/Events/CalendarObjectCreatedEvent.php
  apps/dav/lib/Events/CalendarObjectDeletedEvent.php
  apps/dav/lib/Events/CalendarObjectMovedEvent.php
  apps/dav/lib/Events/CalendarObjectMovedToTrashEvent.php
  apps/dav/lib/Events/CalendarObjectRestoredEvent.php
  apps/dav/lib/Events/CalendarObjectUpdatedEvent.php
  apps/dav/lib/Listener/ActivityUpdaterListener.php
  apps/dav/lib/Listener/CalendarContactInteractionListener.php
  apps/dav/lib/Listener/CalendarObjectReminderUpdaterListener.php
  apps/dav/tests/unit/Listener/ActivityUpdaterListenerTest.php
  apps/dav/tests/unit/Listener/CalendarContactInteractionListenerTest.php
Owners: @nextcloud/server-backend, @st3iny, @SebastianKrupinski, @tcitworld

fix(caldav): Restore old private events and deprecate them
  apps/dav/composer/composer/autoload_classmap.php
  apps/dav/composer/composer/autoload_static.php
  apps/dav/lib/CalDAV/CalDavBackend.php
  apps/dav/lib/Events/CalendarObjectCreatedEvent.php
  apps/dav/lib/Events/CalendarObjectDeletedEvent.php
  apps/dav/lib/Events/CalendarObjectMovedEvent.php
  apps/dav/lib/Events/CalendarObjectMovedToTrashEvent.php
  apps/dav/lib/Events/CalendarObjectRestoredEvent.php
  apps/dav/lib/Events/CalendarObjectUpdatedEvent.php
Owners: @nextcloud/server-backend, @st3iny, @SebastianKrupinski, @tcitworld

refactor(settings): Consolidate group formatting
  apps/settings/src/components/AppNavigationGroupList.vue
  apps/settings/src/components/Users/NewUserDialog.vue
  apps/settings/src/components/Users/UserRow.vue
  apps/settings/src/service/groups.ts
  apps/settings/src/utils/groups.ts
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Fix infinitely loading account management page with pagination of groups - Includes searching
  apps/settings/src/components/AppNavigationGroupList.vue
  apps/settings/src/components/GroupListItem.vue
  apps/settings/src/store/users.js
  apps/settings/src/views/UserManagement.vue
  apps/settings/src/views/UserManagementNavigation.vue
  apps/settings/src/views/user-types.d.ts
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Fix loaded groups being undefined
  apps/settings/src/components/Users/UserRow.vue
  apps/settings/src/service/groups.ts
  apps/settings/src/store/users.js
Owners: @Pytal, @JuliaKirschenheuter

chore(settings): Add note on groups sorting
  apps/settings/src/components/Users/UserSettingsDialog.vue
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Allow searching for groups in user row
  apps/settings/src/components/UserList.vue
  apps/settings/src/components/Users/UserRow.vue
  apps/settings/src/mixins/UserRowMixin.js
  apps/settings/src/store/users.js
Owners: @Pytal, @JuliaKirschenheuter

perf(settings): Remove computation of all groups
  apps/settings/lib/Controller/UsersController.php
Owners: @Pytal, @JuliaKirschenheuter

perf(settings): Make scrolling smooth when a large number of groups are rendered
  apps/settings/src/views/UserManagementNavigation.vue
Owners: @Pytal, @JuliaKirschenheuter

feat(provisioning_api): Add endpoint for fetching user groups with details
  apps/provisioning_api/appinfo/routes.php
  apps/provisioning_api/lib/Controller/UsersController.php
Owners: @provokateurin, @nickvergessen

perf(settings): Cancel request on new search
  apps/settings/src/components/AppNavigationGroupList.vue
  apps/settings/src/service/groups.ts
  apps/settings/src/store/users.js
  apps/settings/src/utils/groups.ts
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Prevent selection of invalid groups that are not fully loaded
  apps/settings/src/components/Users/UserRow.vue
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Allow searching for groups in new account dialog
  apps/settings/src/components/Users/NewUserDialog.vue
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Separate subadmin options
  apps/settings/src/components/Users/UserRow.vue
Owners: @Pytal, @JuliaKirschenheuter

test(settings): Correctly find group in select
  cypress/e2e/settings/users_modify.cy.ts
Owners: @nextcloud/server-frontend

test(settings): Fix group items not being found
  cypress/e2e/settings/users_groups.cy.ts
Owners: @nextcloud/server-frontend

fix(settings): Fix erroneous hiding of group admin column with paginated groups
  apps/settings/src/components/Users/NewUserDialog.vue
  apps/settings/src/components/Users/UserListHeader.vue
  apps/settings/src/components/Users/UserRow.vue
  apps/settings/src/store/users.js
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Preserve system groups on reset
  apps/settings/src/store/users.js
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Fix editing groups and subadmin groups of user
  apps/settings/src/components/Users/UserRow.vue
  apps/settings/src/service/groups.ts
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Fix initialization of store
  apps/settings/src/store/users.js
Owners: @Pytal, @JuliaKirschenheuter

chore(openapi): Update spec
  apps/provisioning_api/openapi-full.json
  apps/provisioning_api/openapi.json
Owners: @provokateurin

fix(settings): Fix duplicated group options when editing account
  apps/settings/src/components/Users/UserRow.vue
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Fix group creation in new account dialog
  apps/settings/src/components/Users/NewUserDialog.vue
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Natural order groups
  apps/settings/src/components/UserList.vue
  apps/settings/src/store/users.js
  apps/settings/src/utils/sorting.ts
Owners: @Pytal, @JuliaKirschenheuter

feat(provisioning_api): Add endpoint for fetching user subadmin groups with details
  apps/provisioning_api/appinfo/routes.php
  apps/provisioning_api/lib/Controller/UsersController.php
Owners: @provokateurin, @nickvergessen

test(settings): Wait until groups list has loaded
  cypress/e2e/settings/users_groups.cy.ts
Owners: @nextcloud/server-frontend

fix(settings): Only change usercount if group can be found
  apps/settings/src/store/users.js
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Fix duplicated group options in new account dialog
  apps/settings/src/components/Users/NewUserDialog.vue
Owners: @Pytal, @JuliaKirschenheuter

fix(settings): Fix group creation when editing users
  apps/settings/src/components/Users/UserRow.vue
Owners: @Pytal, @JuliaKirschenheuter

chore(assets): Recompile assets
  dist/settings-apps-view-4529.js
  dist/settings-apps-view-4529.js.map
  dist/settings-users-3239.js
  dist/settings-users-3239.js.map
  dist/settings-vue-settings-apps-users-management.js
  dist/settings-vue-settings-apps-users-management.js.map
Owners: none

fix: clean up blurhash images after generation
  lib/private/Blurhash/Listener/GenerateBlurhashMetadata.php
Owners: @nextcloud/server-backend

fix(preview): Filter for folders in cleanup old preview job
  lib/private/Preview/BackgroundCleanupJob.php
  tests/lib/Preview/BackgroundCleanupJobTest.php
Owners: @nextcloud/server-backend

fix(oauth2): retain support for legacy ownCloud clients
  apps/dav/appinfo/v1/webdav.php
  apps/dav/lib/Connector/Sabre/BearerAuth.php
  apps/dav/lib/Server.php
  apps/dav/tests/unit/Connector/Sabre/BearerAuthTest.php
  apps/oauth2/appinfo/info.xml
  apps/oauth2/composer/composer/autoload_classmap.php
  apps/oauth2/composer/composer/autoload_static.php
  apps/oauth2/lib/Command/ImportLegacyOcClient.php
  apps/oauth2/lib/Controller/LoginRedirectorController.php
  apps/oauth2/openapi.json
  apps/oauth2/tests/Controller/LoginRedirectorControllerTest.php
  core/Controller/ClientFlowLoginController.php
  core/templates/loginflow/authpicker.php
  core/templates/loginflow/grant.php
  lib/private/Repair/Owncloud/MigrateOauthTables.php
  openapi.json
  tests/Core/Controller/ClientFlowLoginControllerTest.php
Owners: @nextcloud/server-backend, @julien-nc, @ChristophWurst, @provokateurin

fix(federatedfilesharing): Fix incorrect SQL query
  apps/federatedfilesharing/lib/FederatedShareProvider.php
Owners: @icewind1991, @danxuliu

.github/CODEOWNERS:

# Fallback owners for code review - ensure all PRs have someone assigned for review.
# (the last match will used so this is only used if there is no more specific code owner below)

# Backend
# is the first and gets everything to make things easier from matching syntax
*                                             @nextcloud/server-backend

# Frontend
# this will override the backend code owners if needed
/__mocks__                                    @nextcloud/server-frontend
/__tests__                                    @nextcloud/server-frontend
/cypress                                      @nextcloud/server-frontend
**/js                                         @nextcloud/server-frontend
**/src                                        @nextcloud/server-frontend
*.js                                          @nextcloud/server-frontend
*.ts                                          @nextcloud/server-frontend

# dependency management
package.json                                  @nextcloud/server-dependabot
package-lock.json                             @nextcloud/server-dependabot

# Compiled assets only - no owner set to not spam on automated dependency updates
/dist                                         

# App maintainers
/apps/admin_audit/**            @luka-nextcloud @blizzz
/apps/cloud_federation_api/**   @mejo-
/apps/comments/**               @edward-ly @Pytal
/apps/contactsinteraction/**    @kesselb @SebastianKrupinski
/apps/dashboard/**              @julien-nc @juliusknorr
/apps/dav/**/CalDAV/**          @st3iny @SebastianKrupinski @tcitworld
/apps/dav/**/CardDAV/**         @hamza221 @SebastianKrupinski
/apps/encryption/**             @come-nc @icewind1991
/apps/federatedfilesharing/**   @icewind1991 @danxuliu
/apps/federation/**             @nfebe
/apps/files/**                  @skjnldsv @Pytal @ArtificialOwl @come-nc @artonge @icewind1991 @szaimen @susnux @nfebe
/apps/files_external/**         @icewind1991 @artonge
/apps/files_reminders/**        @Pytal
/apps/files_sharing/**          @skjnldsv @come-nc
/apps/files_trashbin/**         @Pytal @icewind1991
/apps/files_versions/**         @artonge @icewind1991
/apps/oauth2/**                 @julien-nc @ChristophWurst
/apps/provisioning_api/**       @provokateurin @nickvergessen
/apps/settings/**               @Pytal @JuliaKirschenheuter
/apps/sharebymail/**            @Altahrim
/apps/systemtags/**             @Antreesy @marcelklehr
/apps/theming/**                @skjnldsv @juliusknorr
/apps/updatenotification/**     @Pytal @JuliaKirschenheuter
/apps/user_ldap/**              @come-nc @blizzz
/apps/user_status/**            @Antreesy @nickvergessen
/apps/weather_status/**         @julien-nc @juliusknorr
/apps/webhook_listeners/**      @come-nc @julien-nc
/apps/workflowengine/**         @blizzz @juliusknorr

# Frontend expertise
/apps/files/src*                    @skjnldsv @nextcloud/server-frontend
/apps/files_external/src*           @skjnldsv @nextcloud/server-frontend
/apps/files_reminders/src*          @skjnldsv @nextcloud/server-frontend
/apps/files_sharing/src/actions*    @skjnldsv @nextcloud/server-frontend
/apps/files_trashbin/src*           @skjnldsv @nextcloud/server-frontend

# Security team
/build/psalm-baseline-security.xml  @nickvergessen @nextcloud/server-backend
/resources/codesigning              @mgallien @miaulalala @nickvergessen
/resources/config/ca-bundle.crt     @miaulalala @nickvergessen

# Two-Factor Authentication
# https://github.com/nextcloud/wg-two-factor-authentication#members
**/TwoFactorAuth                    @ChristophWurst @miaulalala @nickvergessen @st3iny
/apps/twofactor_backupcodes         @ChristophWurst @miaulalala @nickvergessen @st3iny
/core/templates/twofactor*          @ChristophWurst @miaulalala @nickvergessen @st3iny

# Limit login to IP
# Watch login routes for https://github.com/nextcloud/limit_login_to_ip
/core/routes.php                    @Altahrim @nextcloud/server-backend

# OpenAPI
openapi*.json                       @provokateurin
ResponseDefinitions.php             @provokateurin

# Talk team
/lib/private/Comments               @nickvergessen @nextcloud/talk-backend
/lib/private/Federation             @nickvergessen @nextcloud/talk-backend @nextcloud/server-backend
/lib/private/Talk                   @nickvergessen @nextcloud/talk-backend
/lib/public/Comments                @nickvergessen @nextcloud/talk-backend
/lib/public/Federation              @nickvergessen @nextcloud/talk-backend @nextcloud/server-backend
/lib/public/OCM                     @nickvergessen @nextcloud/talk-backend @nextcloud/server-backend
/lib/public/Talk                    @nickvergessen @nextcloud/talk-backend
/lib/public/UserStatus              @nickvergessen @nextcloud/talk-backend

# Groupware
/build/integration/dav_features/caldav.feature    @st3iny @SebastianKrupinski
/build/integration/dav_features/carddav.feature   @st3iny @SebastianKrupinski

# Personal interest
*/Activity/*                        @nickvergessen @nextcloud/server-backend
*/Notifications/*                   @nickvergessen @nextcloud/talk-backend
