Repository nextcloud/server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nextcloud/server-backend, @nextcloud/server-frontend, @nextcloud/server-dependabot, @luka-nextcloud, @blizzz, @mejo-, @edward-ly, @Pytal, @kesselb, @SebastianKrupinski, @julien-nc, @juliusknorr, @st3iny, @tcitworld, @hamza221, @come-nc, @icewind1991, @danxuliu, @nfebe, @skjnldsv, @ArtificialOwl, @artonge, @szaimen, @susnux, @ChristophWurst, @provokateurin, @nickvergessen, @JuliaKirschenheuter, @Altahrim, @Antreesy, @marcelklehr, @mgallien, @miaulalala, @nextcloud/talk-backend

.github/CODEOWNERS:

# Fallback owners for code review - ensure all PRs have someone assigned for review.
# (the last match will used so this is only used if there is no more specific code owner below)

# Backend
# is the first and gets everything to make things easier from matching syntax
*                                             @nextcloud/server-backend

# Frontend
# this will override the backend code owners if needed
/__mocks__                                    @nextcloud/server-frontend
/__tests__                                    @nextcloud/server-frontend
/cypress                                      @nextcloud/server-frontend
**/js                                         @nextcloud/server-frontend
**/src                                        @nextcloud/server-frontend
*.js                                          @nextcloud/server-frontend
*.ts                                          @nextcloud/server-frontend

# dependency management
package.json                                  @nextcloud/server-dependabot
package-lock.json                             @nextcloud/server-dependabot

# Compiled assets only - no owner set to not spam on automated dependency updates
/dist                                         

# App maintainers
/apps/admin_audit/**            @luka-nextcloud @blizzz
/apps/cloud_federation_api/**   @mejo-
/apps/comments/**               @edward-ly @Pytal
/apps/contactsinteraction/**    @kesselb @SebastianKrupinski
/apps/dashboard/**              @julien-nc @juliusknorr
/apps/dav/**/CalDAV/**          @st3iny @SebastianKrupinski @tcitworld
/apps/dav/**/CardDAV/**         @hamza221 @SebastianKrupinski
/apps/encryption/**             @come-nc @icewind1991
/apps/federatedfilesharing/**   @icewind1991 @danxuliu
/apps/federation/**             @nfebe
/apps/files/**                  @skjnldsv @Pytal @ArtificialOwl @come-nc @artonge @icewind1991 @szaimen @susnux @nfebe
/apps/files_external/**         @icewind1991 @artonge
/apps/files_reminders/**        @Pytal
/apps/files_sharing/**          @skjnldsv @come-nc
/apps/files_trashbin/**         @Pytal @icewind1991
/apps/files_versions/**         @artonge @icewind1991
/apps/oauth2/**                 @julien-nc @ChristophWurst
/apps/provisioning_api/**       @provokateurin @nickvergessen
/apps/settings/**               @Pytal @JuliaKirschenheuter
/apps/sharebymail/**            @Altahrim
/apps/systemtags/**             @Antreesy @marcelklehr
/apps/theming/**                @skjnldsv @juliusknorr
/apps/updatenotification/**     @Pytal @JuliaKirschenheuter
/apps/user_ldap/**              @come-nc @blizzz
/apps/user_status/**            @Antreesy @nickvergessen
/apps/weather_status/**         @julien-nc @juliusknorr
/apps/webhook_listeners/**      @come-nc @julien-nc
/apps/workflowengine/**         @blizzz @juliusknorr

# Frontend expertise
/apps/files/src*                    @skjnldsv @nextcloud/server-frontend
/apps/files_external/src*           @skjnldsv @nextcloud/server-frontend
/apps/files_reminders/src*          @skjnldsv @nextcloud/server-frontend
/apps/files_sharing/src/actions*    @skjnldsv @nextcloud/server-frontend
/apps/files_trashbin/src*           @skjnldsv @nextcloud/server-frontend

# Security team
/build/psalm-baseline-security.xml  @nickvergessen @nextcloud/server-backend
/resources/codesigning              @mgallien @miaulalala @nickvergessen
/resources/config/ca-bundle.crt     @miaulalala @nickvergessen

# Two-Factor Authentication
# https://github.com/nextcloud/wg-two-factor-authentication#members
**/TwoFactorAuth                    @ChristophWurst @miaulalala @nickvergessen @st3iny
/apps/twofactor_backupcodes         @ChristophWurst @miaulalala @nickvergessen @st3iny
/core/templates/twofactor*          @ChristophWurst @miaulalala @nickvergessen @st3iny

# Limit login to IP
# Watch login routes for https://github.com/nextcloud/limit_login_to_ip
/core/routes.php                    @Altahrim @nextcloud/server-backend

# OpenAPI
openapi*.json                       @provokateurin
ResponseDefinitions.php             @provokateurin

# Talk team
/lib/private/Comments               @nickvergessen @nextcloud/talk-backend
/lib/private/Federation             @nickvergessen @nextcloud/talk-backend @nextcloud/server-backend
/lib/private/Talk                   @nickvergessen @nextcloud/talk-backend
/lib/public/Comments                @nickvergessen @nextcloud/talk-backend
/lib/public/Federation              @nickvergessen @nextcloud/talk-backend @nextcloud/server-backend
/lib/public/OCM                     @nickvergessen @nextcloud/talk-backend @nextcloud/server-backend
/lib/public/Talk                    @nickvergessen @nextcloud/talk-backend
/lib/public/UserStatus              @nickvergessen @nextcloud/talk-backend

# Groupware
/build/integration/dav_features/caldav.feature    @st3iny @SebastianKrupinski
/build/integration/dav_features/carddav.feature   @st3iny @SebastianKrupinski

# Personal interest
*/Activity/*                        @nickvergessen @nextcloud/server-backend
*/Notifications/*                   @nickvergessen @nextcloud/talk-backend

fix(files_sharing): make sure IDs are unique for HTML elements
  apps/files_sharing/src/components/SharingInput.vue
Owners: @skjnldsv, @come-nc

test: add cypress tests for sharing download permission
  cypress/e2e/files_sharing/filesSharingUtils.ts
  cypress/e2e/files_sharing/public-share/setup-public-share.ts
Owners: @nextcloud/server-frontend

chore(assets): Recompile assets
  dist/3204-3204.js
  dist/3204-3204.js.license
  dist/3204-3204.js.map
  dist/3204-3204.js.map.license
  dist/5820-5820.js
  dist/5820-5820.js.map
  dist/9261-9261.js
  dist/9261-9261.js.map
  dist/9261-9261.js.map.license
  dist/files_sharing-files_sharing_tab.js
  dist/files_sharing-files_sharing_tab.js.map
  dist/files_sharing-init.js
  dist/files_sharing-init.js.map
Owners: none

chore(assets): Recompile assets
  dist/5956-5956.js
  dist/5956-5956.js.LICENSE.txt
  dist/5956-5956.js.map
  dist/8884-8884.js
  dist/8884-8884.js.map
  dist/files_sharing-files_sharing_tab.js
  dist/files_sharing-files_sharing_tab.js.map
Owners: none

refactor(IMimeTypeDetector): use consistent capitalization
  build/psalm-baseline.xml
  lib/private/Files/Type/Detection.php
  lib/public/Files/IMimeTypeDetector.php
Owners: @nextcloud/server-backend

fix(unified-search): do not overlap search with button
  core/src/components/UnifiedSearch/UnifiedSearchLocalSearchBar.vue
Owners: @nextcloud/server-frontend

fix(unified-search): do not overlap search with button
  core/src/components/UnifiedSearch/UnifiedSearchLocalSearchBar.vue
Owners: @nextcloud/server-frontend

chore(assets): Recompile assets
  dist/core-unified-search.js
  dist/core-unified-search.js.map
Owners: none

chore(assets): Recompile assets
  dist/core-unified-search.js
  dist/core-unified-search.js.map
Owners: none

fix(encryption): init keys also when logged in using cookie auth
  apps/encryption/lib/AppInfo/Application.php
  apps/encryption/lib/Listeners/UserEventsListener.php
Owners: @come-nc, @icewind1991

fix(logger): Prevent infinite recursion with log.condition => matches
  build/integration/features/log-condition.feature
  lib/private/Log.php
Owners: @nextcloud/server-backend

fix: use proper migration sorting when checking if a migration needs to be executed
  lib/private/DB/MigrationService.php
Owners: @nextcloud/server-backend

fix: use proper migration sorting when checking if a migration needs to be executed
  lib/private/DB/MigrationService.php
Owners: @nextcloud/server-backend

fix: use proper migration sorting when checking if a migration needs to be executed
  lib/private/DB/MigrationService.php
Owners: @nextcloud/server-backend

fix: use proper migration sorting when checking if a migration needs to be executed
  lib/private/DB/MigrationService.php
Owners: @nextcloud/server-backend

IONOS(build): update package-lock.json
  package-lock.json
Owners: @nextcloud/server-dependabot

chore: remove scrutinizer
  .scrutinizer.yml
  README.md
  build/files-checker.php
Owners: @nextcloud/server-backend

fix: Use login name to check the password
  lib/private/AppFramework/Middleware/Security/PasswordConfirmationMiddleware.php
Owners: @nextcloud/server-backend

fix(files): right click actions menu flicker
  apps/files/src/components/FileEntry/FileEntryActions.vue
  apps/files/src/components/FileEntryMixin.ts
Owners: @skjnldsv, @nextcloud/server-frontend

fix(files): right click actions menu flicker
  apps/files/src/components/FileEntry/FileEntryActions.vue
  apps/files/src/components/FileEntryMixin.ts
Owners: @skjnldsv, @nextcloud/server-frontend
