Repository nextcloud/server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nextcloud/server-backend, @nextcloud/server-frontend, @nextcloud/server-dependabot, @luka-nextcloud, @blizzz, @mejo-, @edward-ly, @Pytal, @kesselb, @SebastianKrupinski, @julien-nc, @juliusknorr, @st3iny, @tcitworld, @hamza221, @come-nc, @icewind1991, @danxuliu, @nfebe, @skjnldsv, @ArtificialOwl, @artonge, @szaimen, @susnux, @ChristophWurst, @provokateurin, @nickvergessen, @JuliaKirschenheuter, @Altahrim, @Antreesy, @marcelklehr, @mgallien, @miaulalala, @nextcloud/talk-backend

.github/CODEOWNERS:

# Fallback owners for code review - ensure all PRs have someone assigned for review.
# (the last match will used so this is only used if there is no more specific code owner below)

# Backend
# is the first and gets everything to make things easier from matching syntax
*                                             @nextcloud/server-backend

# Frontend
# this will override the backend code owners if needed
/__mocks__                                    @nextcloud/server-frontend
/__tests__                                    @nextcloud/server-frontend
/cypress                                      @nextcloud/server-frontend
**/js                                         @nextcloud/server-frontend
**/src                                        @nextcloud/server-frontend
*.js                                          @nextcloud/server-frontend
*.ts                                          @nextcloud/server-frontend

# dependency management
package.json                                  @nextcloud/server-dependabot
package-lock.json                             @nextcloud/server-dependabot

# Compiled assets only - no owner set to not spam on automated dependency updates
/dist                                         

# App maintainers
/apps/admin_audit/**            @luka-nextcloud @blizzz
/apps/cloud_federation_api/**   @mejo-
/apps/comments/**               @edward-ly @Pytal
/apps/contactsinteraction/**    @kesselb @SebastianKrupinski
/apps/dashboard/**              @julien-nc @juliusknorr
/apps/dav/**/CalDAV/**          @st3iny @SebastianKrupinski @tcitworld
/apps/dav/**/CardDAV/**         @hamza221 @SebastianKrupinski
/apps/encryption/**             @come-nc @icewind1991
/apps/federatedfilesharing/**   @icewind1991 @danxuliu
/apps/federation/**             @nfebe
/apps/files/**                  @skjnldsv @Pytal @ArtificialOwl @come-nc @artonge @icewind1991 @szaimen @susnux @nfebe
/apps/files_external/**         @icewind1991 @artonge
/apps/files_reminders/**        @Pytal
/apps/files_sharing/**          @skjnldsv @come-nc
/apps/files_trashbin/**         @Pytal @icewind1991
/apps/files_versions/**         @artonge @icewind1991
/apps/oauth2/**                 @julien-nc @ChristophWurst
/apps/provisioning_api/**       @provokateurin @nickvergessen
/apps/settings/**               @Pytal @JuliaKirschenheuter
/apps/sharebymail/**            @Altahrim
/apps/systemtags/**             @Antreesy @marcelklehr
/apps/theming/**                @skjnldsv @juliusknorr
/apps/updatenotification/**     @Pytal @JuliaKirschenheuter
/apps/user_ldap/**              @come-nc @blizzz
/apps/user_status/**            @Antreesy @nickvergessen
/apps/weather_status/**         @julien-nc @juliusknorr
/apps/webhook_listeners/**      @come-nc @julien-nc
/apps/workflowengine/**         @blizzz @juliusknorr

# Frontend expertise
/apps/files/src*                    @skjnldsv @nextcloud/server-frontend
/apps/files_external/src*           @skjnldsv @nextcloud/server-frontend
/apps/files_reminders/src*          @skjnldsv @nextcloud/server-frontend
/apps/files_sharing/src/actions*    @skjnldsv @nextcloud/server-frontend
/apps/files_trashbin/src*           @skjnldsv @nextcloud/server-frontend

# Security team
/build/psalm-baseline-security.xml  @nickvergessen @nextcloud/server-backend
/resources/codesigning              @mgallien @miaulalala @nickvergessen
/resources/config/ca-bundle.crt     @miaulalala @nickvergessen

# Two-Factor Authentication
# https://github.com/nextcloud/wg-two-factor-authentication#members
**/TwoFactorAuth                    @ChristophWurst @miaulalala @nickvergessen @st3iny
/apps/twofactor_backupcodes         @ChristophWurst @miaulalala @nickvergessen @st3iny
/core/templates/twofactor*          @ChristophWurst @miaulalala @nickvergessen @st3iny

# Limit login to IP
# Watch login routes for https://github.com/nextcloud/limit_login_to_ip
/core/routes.php                    @Altahrim @nextcloud/server-backend

# OpenAPI
openapi*.json                       @provokateurin
ResponseDefinitions.php             @provokateurin

# Talk team
/lib/private/Comments               @nickvergessen @nextcloud/talk-backend
/lib/private/Federation             @nickvergessen @nextcloud/talk-backend @nextcloud/server-backend
/lib/private/Talk                   @nickvergessen @nextcloud/talk-backend
/lib/public/Comments                @nickvergessen @nextcloud/talk-backend
/lib/public/Federation              @nickvergessen @nextcloud/talk-backend @nextcloud/server-backend
/lib/public/OCM                     @nickvergessen @nextcloud/talk-backend @nextcloud/server-backend
/lib/public/Talk                    @nickvergessen @nextcloud/talk-backend
/lib/public/UserStatus              @nickvergessen @nextcloud/talk-backend

# Groupware
/build/integration/dav_features/caldav.feature    @st3iny @SebastianKrupinski
/build/integration/dav_features/carddav.feature   @st3iny @SebastianKrupinski

# Personal interest
*/Activity/*                        @nickvergessen @nextcloud/server-backend
*/Notifications/*                   @nickvergessen @nextcloud/talk-backend

fix(files_reminders): Lower disabled notifications app error to info
  apps/files_reminders/lib/Listener/LoadAdditionalScriptsListener.php
Owners: @Pytal

fix(files_reminder): Replace error log by setup check
  apps/files_reminders/lib/AppInfo/Application.php
  apps/files_reminders/lib/Listener/LoadAdditionalScriptsListener.php
  apps/files_reminders/lib/SetupChecks/NeedNotificationsApp.php
Owners: @Pytal

fix(files_reminders): Lower disabled notifications app error to info
  apps/files_reminders/lib/Listener/LoadAdditionalScriptsListener.php
Owners: @Pytal

fix(files_reminder): Replace error log by setup check
  apps/files_reminders/lib/AppInfo/Application.php
  apps/files_reminders/lib/Listener/LoadAdditionalScriptsListener.php
  apps/files_reminders/lib/SetupChecks/NeedNotificationsApp.php
Owners: @Pytal

fix(files_reminders): Lower disabled notifications app error to info
  apps/files_reminders/lib/Listener/LoadAdditionalScriptsListener.php
Owners: @Pytal

fix(files_reminder): Replace error log by setup check
  apps/files_reminders/lib/AppInfo/Application.php
  apps/files_reminders/lib/Listener/LoadAdditionalScriptsListener.php
  apps/files_reminders/lib/SetupChecks/NeedNotificationsApp.php
Owners: @Pytal

fix(files_reminders): Lower disabled notifications app error to info
  apps/files_reminders/lib/Listener/LoadAdditionalScriptsListener.php
Owners: @Pytal

fix(files_reminder): Replace error log by setup check
  apps/files_reminders/lib/AppInfo/Application.php
  apps/files_reminders/lib/Listener/LoadAdditionalScriptsListener.php
  apps/files_reminders/lib/SetupChecks/NeedNotificationsApp.php
Owners: @Pytal

fix: don't have sabre/dav send it's own reponse if we already send the zip response
  apps/dav/lib/Connector/Sabre/ZipFolderPlugin.php
Owners: @nextcloud/server-backend

test: make cypress run in secure context and add WebAuthn tests
  .eslintrc.js
  cypress/dockerNode.ts
  cypress/e2e/files/LivePhotosUtils.ts
  cypress/e2e/files_external/files-user-credentials.cy.ts
  cypress/e2e/files_versions/version_deletion.cy.ts
  cypress/e2e/files_versions/version_download.cy.ts
  cypress/e2e/files_versions/version_naming.cy.ts
  cypress/e2e/files_versions/version_restoration.cy.ts
  cypress/e2e/login/webauth.cy.ts
Owners: @nextcloud/server-frontend

fix(core): adjust fronend code for changes in webauthn library
  apps/settings/src/service/WebAuthnRegistrationSerice.ts
  core/src/components/login/PasswordLessLoginForm.vue
  core/src/services/WebAuthnAuthenticationService.ts
Owners: @Pytal, @JuliaKirschenheuter, @nextcloud/server-frontend

fix(webauthn): do not require bcmath or gmp - not needed anymore
  apps/settings/lib/Settings/Personal/Security/WebAuthn.php
  apps/settings/lib/SetupChecks/PhpModules.php
  lib/private/Authentication/WebAuthn/Manager.php
Owners: @Pytal, @JuliaKirschenheuter, @nextcloud/server-backend

chore(assets): Recompile assets
  dist/core-login.js
  dist/core-login.js.map
  dist/settings-vue-settings-personal-webauthn.js
  dist/settings-vue-settings-personal-webauthn.js.map
Owners: none

fix: don't have sabre/dav send it's own reponse if we already send the zip response
  apps/dav/lib/Connector/Sabre/ZipFolderPlugin.php
Owners: @nextcloud/server-backend

test: adjust for cypress
  cypress/e2e/files_external/files-user-credentials.cy.ts
Owners: @nextcloud/server-frontend

fix(encryption): init keys also when logged in using cookie auth
  apps/encryption/lib/AppInfo/Application.php
  apps/encryption/lib/Listeners/UserEventsListener.php
Owners: @come-nc, @icewind1991

Fix(l10n): Update translations from Transifex
  apps/files/l10n/uk.js
  apps/files/l10n/uk.json
  apps/files_sharing/l10n/et_EE.js
  apps/files_sharing/l10n/et_EE.json
  apps/settings/l10n/ar.js
  apps/settings/l10n/ar.json
  apps/settings/l10n/cs.js
  apps/settings/l10n/cs.json
  apps/settings/l10n/de.js
  apps/settings/l10n/de.json
  apps/settings/l10n/de_DE.js
  apps/settings/l10n/de_DE.json
  apps/settings/l10n/en_GB.js
  apps/settings/l10n/en_GB.json
  apps/settings/l10n/et_EE.js
  apps/settings/l10n/et_EE.json
  apps/settings/l10n/ga.js
  apps/settings/l10n/ga.json
  apps/settings/l10n/hu.js
  apps/settings/l10n/hu.json
  apps/settings/l10n/zh_HK.js
  apps/settings/l10n/zh_HK.json
  apps/settings/l10n/zh_TW.js
  apps/settings/l10n/zh_TW.json
  apps/theming/l10n/et_EE.js
  apps/theming/l10n/et_EE.json
  core/l10n/pt_BR.js
  core/l10n/pt_BR.json
  lib/l10n/et_EE.js
  lib/l10n/et_EE.json
Owners: @skjnldsv, @Pytal, @ArtificialOwl, @come-nc, @artonge, @icewind1991, @szaimen, @susnux, @nfebe, @JuliaKirschenheuter, @juliusknorr, @nextcloud/server-frontend, @nextcloud/server-backend

Fix(l10n): Update translations from Transifex
  apps/files/l10n/uk.js
  apps/files/l10n/uk.json
  apps/files_sharing/l10n/et_EE.js
  apps/files_sharing/l10n/et_EE.json
  apps/settings/l10n/ar.js
  apps/settings/l10n/ar.json
  apps/settings/l10n/cs.js
  apps/settings/l10n/cs.json
  apps/settings/l10n/de.js
  apps/settings/l10n/de.json
  apps/settings/l10n/de_DE.js
  apps/settings/l10n/de_DE.json
  apps/settings/l10n/en_GB.js
  apps/settings/l10n/en_GB.json
  apps/settings/l10n/et_EE.js
  apps/settings/l10n/et_EE.json
  apps/settings/l10n/ga.js
  apps/settings/l10n/ga.json
  apps/settings/l10n/hu.js
  apps/settings/l10n/hu.json
  apps/settings/l10n/zh_HK.js
  apps/settings/l10n/zh_HK.json
  apps/settings/l10n/zh_TW.js
  apps/settings/l10n/zh_TW.json
  apps/theming/l10n/et_EE.js
  apps/theming/l10n/et_EE.json
  core/l10n/pt_BR.js
  core/l10n/pt_BR.json
  lib/l10n/et_EE.js
  lib/l10n/et_EE.json
Owners: @skjnldsv, @Pytal, @ArtificialOwl, @come-nc, @artonge, @icewind1991, @szaimen, @susnux, @nfebe, @JuliaKirschenheuter, @juliusknorr, @nextcloud/server-frontend, @nextcloud/server-backend

Fix(l10n): Update translations from Transifex
  apps/files/l10n/uk.js
  apps/files/l10n/uk.json
  apps/files_sharing/l10n/et_EE.js
  apps/files_sharing/l10n/et_EE.json
  apps/settings/l10n/ar.js
  apps/settings/l10n/ar.json
  apps/settings/l10n/cs.js
  apps/settings/l10n/cs.json
  apps/settings/l10n/de.js
  apps/settings/l10n/de.json
  apps/settings/l10n/de_DE.js
  apps/settings/l10n/de_DE.json
  apps/settings/l10n/en_GB.js
  apps/settings/l10n/en_GB.json
  apps/settings/l10n/et_EE.js
  apps/settings/l10n/et_EE.json
  apps/settings/l10n/ga.js
  apps/settings/l10n/ga.json
  apps/settings/l10n/hu.js
  apps/settings/l10n/hu.json
  apps/settings/l10n/zh_HK.js
  apps/settings/l10n/zh_HK.json
  apps/settings/l10n/zh_TW.js
  apps/settings/l10n/zh_TW.json
  apps/theming/l10n/et_EE.js
  apps/theming/l10n/et_EE.json
  core/l10n/pt_BR.js
  core/l10n/pt_BR.json
  lib/l10n/et_EE.js
  lib/l10n/et_EE.json
Owners: @skjnldsv, @Pytal, @ArtificialOwl, @come-nc, @artonge, @icewind1991, @szaimen, @susnux, @nfebe, @JuliaKirschenheuter, @juliusknorr, @nextcloud/server-frontend, @nextcloud/server-backend

Fix(l10n): Update translations from Transifex
  apps/files/l10n/uk.js
  apps/files/l10n/uk.json
  apps/files_sharing/l10n/et_EE.js
  apps/files_sharing/l10n/et_EE.json
  apps/settings/l10n/ar.js
  apps/settings/l10n/ar.json
  apps/settings/l10n/cs.js
  apps/settings/l10n/cs.json
  apps/settings/l10n/de.js
  apps/settings/l10n/de.json
  apps/settings/l10n/de_DE.js
  apps/settings/l10n/de_DE.json
  apps/settings/l10n/en_GB.js
  apps/settings/l10n/en_GB.json
  apps/settings/l10n/et_EE.js
  apps/settings/l10n/et_EE.json
  apps/settings/l10n/ga.js
  apps/settings/l10n/ga.json
  apps/settings/l10n/hu.js
  apps/settings/l10n/hu.json
  apps/settings/l10n/zh_HK.js
  apps/settings/l10n/zh_HK.json
  apps/settings/l10n/zh_TW.js
  apps/settings/l10n/zh_TW.json
  apps/theming/l10n/et_EE.js
  apps/theming/l10n/et_EE.json
  core/l10n/pt_BR.js
  core/l10n/pt_BR.json
  lib/l10n/et_EE.js
  lib/l10n/et_EE.json
Owners: @skjnldsv, @Pytal, @ArtificialOwl, @come-nc, @artonge, @icewind1991, @szaimen, @susnux, @nfebe, @JuliaKirschenheuter, @juliusknorr, @nextcloud/server-frontend, @nextcloud/server-backend

Fix(l10n): Update translations from Transifex
  apps/viewer/l10n/et_EE.js
  apps/viewer/l10n/et_EE.json
  apps/viewer/l10n/uk.js
  apps/viewer/l10n/uk.json
Owners: @nextcloud/server-frontend, @nextcloud/server-backend

fix: display chinese character avatar
  lib/private/Avatar/Avatar.php
  lib/private/Avatar/GuestAvatar.php
  lib/private/Avatar/PlaceholderAvatar.php
  lib/private/Avatar/UserAvatar.php
Owners: @nextcloud/server-backend

perf(db): Drop redunant jobs.job_class_index index
  core/Migrations/Version13000Date20170718121200.php
  core/Migrations/Version32000Date20250402070341.php
  version.php
Owners: @nextcloud/server-backend

perf(db): Extend jobs.time_sensitive index
  core/Application.php
  core/Migrations/Version24000Date20220131153041.php
Owners: @nextcloud/server-backend

fixup! perf(db): Extend jobs.time_sensitive index
  core/Application.php
  core/Migrations/Version24000Date20220131153041.php
Owners: @nextcloud/server-backend

fix(oauth2): retain support for legacy ownCloud clients
  apps/dav/appinfo/v1/webdav.php
  apps/dav/lib/Connector/Sabre/BearerAuth.php
  apps/dav/lib/Server.php
  apps/dav/tests/unit/Connector/Sabre/BearerAuthTest.php
  apps/oauth2/appinfo/info.xml
  apps/oauth2/composer/composer/autoload_classmap.php
  apps/oauth2/composer/composer/autoload_static.php
  apps/oauth2/lib/Command/ImportLegacyOcClient.php
  apps/oauth2/lib/Controller/LoginRedirectorController.php
  apps/oauth2/openapi.json
  apps/oauth2/tests/Controller/LoginRedirectorControllerTest.php
  core/Controller/ClientFlowLoginController.php
  core/templates/loginflow/authpicker.php
  core/templates/loginflow/grant.php
  lib/private/Repair/Owncloud/MigrateOauthTables.php
  tests/Core/Controller/ClientFlowLoginControllerTest.php
Owners: @nextcloud/server-backend, @julien-nc, @ChristophWurst, @provokateurin

fix(oauth2): retain support for legacy ownCloud clients
  apps/dav/appinfo/v1/webdav.php
  apps/dav/lib/Connector/Sabre/BearerAuth.php
  apps/dav/lib/Server.php
  apps/dav/tests/unit/Connector/Sabre/BearerAuthTest.php
  apps/oauth2/appinfo/info.xml
  apps/oauth2/composer/composer/autoload_classmap.php
  apps/oauth2/composer/composer/autoload_static.php
  apps/oauth2/lib/Command/ImportLegacyOcClient.php
  apps/oauth2/lib/Controller/LoginRedirectorController.php
  apps/oauth2/openapi.json
  apps/oauth2/tests/Controller/LoginRedirectorControllerTest.php
  core/Controller/ClientFlowLoginController.php
  core/templates/loginflow/authpicker.php
  core/templates/loginflow/grant.php
  lib/private/Repair/Owncloud/MigrateOauthTables.php
  tests/Core/Controller/ClientFlowLoginControllerTest.php
Owners: @nextcloud/server-backend, @julien-nc, @ChristophWurst, @provokateurin

fix(oauth2): retain support for legacy ownCloud clients
  apps/dav/appinfo/v1/webdav.php
  apps/dav/lib/Connector/Sabre/BearerAuth.php
  apps/dav/lib/Server.php
  apps/dav/tests/unit/Connector/Sabre/BearerAuthTest.php
  apps/oauth2/appinfo/info.xml
  apps/oauth2/composer/composer/autoload_classmap.php
  apps/oauth2/composer/composer/autoload_static.php
  apps/oauth2/lib/Command/ImportLegacyOcClient.php
  apps/oauth2/lib/Controller/LoginRedirectorController.php
  apps/oauth2/openapi.json
  apps/oauth2/tests/Controller/LoginRedirectorControllerTest.php
  core/Controller/ClientFlowLoginController.php
  core/templates/loginflow/authpicker.php
  core/templates/loginflow/grant.php
  lib/private/Repair/Owncloud/MigrateOauthTables.php
  tests/Core/Controller/ClientFlowLoginControllerTest.php
Owners: @nextcloud/server-backend, @julien-nc, @ChristophWurst, @provokateurin

chore: Use iterator in ExpireTrash command
  apps/files_trashbin/lib/Command/ExpireTrash.php
Owners: @Pytal, @icewind1991

fix: pass hide download attribute while creating the share to fix github issue 50788
  apps/files_sharing/src/mixins/SharesMixin.js
  apps/files_sharing/src/views/SharingDetailsTab.vue
Owners: @skjnldsv, @come-nc

fix(files_sharing): ugly hacks to update permissions on share creation
  apps/files_sharing/src/mixins/ShareDetails.js
  apps/files_sharing/src/mixins/SharesMixin.js
  apps/files_sharing/src/models/Share.ts
  apps/files_sharing/src/views/SharingDetailsTab.vue
Owners: @skjnldsv, @come-nc

fix(files_sharing): make sure IDs are unique for HTML elements
  apps/files_sharing/src/components/SharingInput.vue
Owners: @skjnldsv, @come-nc

test: add cypress tests for sharing download permission
  cypress/e2e/files_sharing/FilesSharingUtils.ts
  cypress/e2e/files_sharing/public-share/download.cy.ts
  cypress/e2e/files_sharing/public-share/setup-public-share.ts
Owners: @nextcloud/server-frontend

fix: pass hide download attribute while creating the share to fix github issue 50788
  apps/files_sharing/src/mixins/SharesMixin.js
  apps/files_sharing/src/views/SharingDetailsTab.vue
Owners: @skjnldsv, @come-nc

fix(files_sharing): ugly hacks to update permissions on share creation
  apps/files_sharing/src/mixins/ShareDetails.js
  apps/files_sharing/src/mixins/SharesMixin.js
  apps/files_sharing/src/models/Share.ts
  apps/files_sharing/src/views/SharingDetailsTab.vue
Owners: @skjnldsv, @come-nc

fix(files_sharing): make sure IDs are unique for HTML elements
  apps/files_sharing/src/components/SharingInput.vue
Owners: @skjnldsv, @come-nc

test: add cypress tests for sharing download permission
  cypress/e2e/files_sharing/FilesSharingUtils.ts
  cypress/e2e/files_sharing/public-share/setup-public-share.ts
Owners: @nextcloud/server-frontend

chore(assets): Recompile assets
  dist/2693-2693.js
  dist/2693-2693.js.map
  dist/2693-2693.js.map.license
  dist/4704-4704.js
  dist/4704-4704.js.license
  dist/4704-4704.js.map
  dist/4704-4704.js.map.license
  dist/9835-9835.js
  dist/9835-9835.js.map
  dist/files_sharing-files_sharing_tab.js
  dist/files_sharing-files_sharing_tab.js.map
  dist/files_sharing-init.js
  dist/files_sharing-init.js.map
Owners: none

fix: pass hide download attribute while creating the share to fix github issue 50788
  apps/files_sharing/src/mixins/SharesMixin.js
  apps/files_sharing/src/views/SharingDetailsTab.vue
Owners: @skjnldsv, @come-nc

fix(files_sharing): ugly hacks to update permissions on share creation
  apps/files_sharing/src/mixins/ShareDetails.js
  apps/files_sharing/src/mixins/SharesMixin.js
  apps/files_sharing/src/models/Share.js
  apps/files_sharing/src/views/SharingDetailsTab.vue
Owners: @skjnldsv, @come-nc
